<section class="banner-section section video-banner pb-0">
  
    <img src="/assets/images/audit-nrj.png" class="video">
    <div class="container">
        <div class="row align-items-center banner-row">
            <div class="col-lg-9 mb-7">
                <div class="mb-7">
                    <h6 class="mb-3 content-1 h5 text-white title">L’audit énergétique
                    </h6>
                </div>
            </div>
           
        </div>
    </div>
  </section>      
<section class="section">
    <div class="container">
        <div class="heading-section">
          
            <div class="heading-description">L'audit énergétique permet d'évaluer avec précision la consommation énergétique d'un bâtiment. Il apporte des réponses quant aux travaux à envisager pour améliorer l'efficacité énergétique d'un logement. Rappelons que la réalisation d’un audit énergétique est obligatoire pour les logements en mono-propriétés dont le diagnostic de performance énergétique (DPE) affiche une lettre F ou G. Il permet également de bénéficier d’aides financières avantageuses tel que ma Prime Renov’( lien sortant) pour améliorer la consommation énergétique et ainsi sortir de la passoire thermique.</div>
        </div>
      
        <div class="row mb-4">
            <div class="tab-style-2 mb-4">
              <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-pills d-md-flex d-block justify-content-center">
                <li class="nav-item position-relative flex-md-grow-1 me-4 mb-2" [ngbNavItem]="1">
               
  
                  <ng-template ngbNavContent>
                    <div class="tab-content"  >
                      <div class="tab-pane active show" id="web-hosting" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <div class="accordion accordion-style-1" id="acc-style-1">
                               
                                    <ngb-accordion #acc="ngbAccordion">
                                 
                                    
                                     
                                    
                                    
                                      <ngb-panel  title="Quels sont les logements concernés par l’audit énergétique ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template  ngbPanelContent>
                                          La réalisation d’un audit énergétique est obligatoire pour tous les logements considérés comme passoires thermiques (Fet G).                                        </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Quelle est la durée de validité de l’audit énergétique ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                          La durée de validité de l’audit énergétique est illimitée dès lors qu’il n’y a aucune modification du bien.                                        </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Pourquoi réaliser l’audit énergétique ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                          L'audit énergétique des parties communes et privatives est obligatoire dans les copropriétés de plus de 50 lots construites avant 2001, si ces dernières sont équipées de systèmes de chauffage ou de refroidissement collectifs. L'audit énergétique est alors accompagné d'un diagnostic de performance énergétique (DPE) qui accorde une notation au bâtiment en fonction de ses performances énergétiques et de sa production de gaz à effets de serre.

La première étape obligatoire d'une rénovation globale est l'audit énergétique. Celui-ci permet de lister les opérations à réaliser et l'ordre dans lequel les réaliser. La rénovation globale permet d'améliorer les performances énergétiques d'un logement de façon drastique et immédiate. Grâce à la rénovation globale, tous les travaux de rénovation énergétique sont réalisés en même temps plutôt que de façon parcellaire au fil des années. Une maison peut notamment abandonner son statut de passoire thermique grâce à la rénovation globale.            </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Comment est réalisé le diagnostic diagnostic de performance énergétique (DPE) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                          Le professionnel certifié et qualifié chargé de réaliser l’audit énergétique recueille l’ensemble des informations nécessaires, en vue de formuler des améliorations. Ce temps d'investigation permet au professionnel de mieux comprendre comment l'énergie est consommée par le bâtiment lui-même, mais aussi de connaître les attentes des propriétaires en ce qui concerne les économies à réaliser. Pour cela il s'intéressera aux équipements (mode de chauffage, dispositif d'amélioration de la qualité de l'air...), aux factures énergétiques ou encore aux usages des occupants.

Le professionnel doit posséder des qualifications établies et doit répondre aux exigences suivantes :

<br>l'auditeur doit être thermicien, climaticien, diagnostiqueur ou inscrit à l'ordre des architectes, et avoir suivi une formation spécifique d'un minimum de quatre jours ;
<br>l'auditeur doit pouvoir justifier d'une expérience significative dans le domaine de l’expertise énergétique ;
<br>l'auditeur doit disposer d'un matériel de mesure adéquat pour évaluer précisément les performances thermiques d'un bâtiment.                    </ng-template></ngb-panel>       
                                      <ngb-panel  title=" Textes de loi et références" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            -Article 158 de la loi n°2021-1104
                                          
                                        
                                            
                                        </ng-template>
                                      </ngb-panel>
                                    </ngb-accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  </ng-template>
                </li>
            
             
              
              
           
              </ul>
  
  
        <div class="panel-body tabs-menu-body">
          <div [ngbNavOutlet]="nav"></div>
        </div>
  
            </div>
  
        </div>
        <div>
            <h3>Voir aussi</h3>
            <div>
                <div class="link-div">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic de performance énergétique (DPE)</a></span>
            </div>
            <br>
            <div class="link-div">
                <i  class="fa fa-angle-right" aria-hidden="true"></i>

                <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic de mesurage (Loi Carrez & Loi Boutin)</a></span>
                </div>
                <br>
                <div>
                    <i  class="fa fa-angle-right" aria-hidden="true"></i>

                    <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic technique global (DTG)</a></span>
                    </div>
            </div>
        </div>
    </div>

  
  </section>