<section class="banner-section section video-banner pb-0">
    <video src="/assets/photoANGULAR.mp4" class="video" loop muted autoplay></video>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="t">
                    <p class="mb-3 content-1 h5 text-white" id="title">Contactez-nous</p>
                   
                </div>
            </div>
        </div>
    </div>
</section>
 
<section class="section bg-pattern-1 bg-image3">
  <div class="container">
      <div class="heading-section mb-0">
          <div class="heading-title">Contactez <span class="tx" id="span">Nous</span></div>
    <h3>Comment pouvons-nous vous aider?</h3>
    <p>Vous avez besoin d'un devis? Vous recherchez des informations supplémentaires? N'hésitez pas à nous contacter pour toute demande au moyen du formulaire ci-dessous.

       <br> Nos équipes se tiennent prêtes pour vous répondre dans les plus brefs délais.</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="reveal my-5">
                <div class="row text-center">
                    <div class="col-xl-3 col-md-6 col-lg-6">
                        <div class="card h-100 d-flex flex-column">
                            <div class="card-body d-flex flex-column">
                                <div class="mb-3">
                                    <span class="avatar avatar-lg bg-secondary-gradient text-white tx-24 br-style"><i class="bi bi-geo-alt"></i></span>
                                </div>
                                <h5 class="mb-1">Branche principale</h5>
                                <p class="mb-0 mt-auto">San Francisco, CA</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-6">
                        <div class="card h-100 d-flex flex-column">
                            <div class="card-body d-flex flex-column">
                                <div class="mb-3">
                                    <span class="avatar avatar-lg bg-pink-gradient br-style text-white tx-24"><i class="bi bi-telephone"></i></span>
                                </div>
                                <h5 class="mb-1">Télephone</h5>
                                <p class="mb-0 mt-auto">+125 254 3562</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-6">
                        <div class="card h-100 d-flex flex-column">
                            <div class="card-body d-flex flex-column">
                                <div class="mb-3">
                                    <span class="avatar avatar-lg bg-purple-gradient br-style text-white tx-24"><i class="bi bi-envelope-plus"></i></span>
                                </div>
                                <h5 class="mb-1">E-mail</h5>
                                <p class="mb-0 mt-auto">georgeme@abc.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-6">
                        <div class="card h-100 d-flex flex-column">
                            <div class="card-body d-flex flex-column">
                                <div class="mb-3">
                                    <span class="avatar avatar-lg bg-teal-gradient br-style text-white tx-24"><i class="bi bi-clock-history"></i></span>
                                </div>
                                <h5 class="mb-1">Heures de travail</h5>
                                <p class="mb-0 mt-auto">Mon - Fri : 9am - 6pm</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

      <div class="row align-items-center justify-content-center">
          <div class="col-lg-11">
              <div class="card border">
                  <div class="card-body">
                      <div class="row">
                          <div class="col-lg-7">
                              <div class="card feature-client-bg shadow-none">
                                  <img src="./assets/images/patterns/9.png" alt="img" class="patterns-9 sub-pattern-2 filter-invert op-1 z-index--1">
                                  <div class="card-body pb-0">
                                      <h4 class="mb-4">
                                        Envoyez-nous un message</h4>
                                      <form class="form-horizontal" action="/home/home">
                                          <div class="row">
                                              <div class="col-sm-6">
                                                  <div class="mb-3">
                                                      <input class="form-control" type="text" required
                                                          placeholder="Prénom et nom*">
                                                  </div>
                                              </div>
                                              <div class="col-sm-6">
                                                  <div class="mb-3">
                                                      <input class="form-control" type="email" required
                                                          placeholder="Société(facultatif)*">
                                                  </div>
                                              </div>
                                              <div class="col-sm-12">
                                                <div class="mb-3">
                                                    <input class="form-control" type="number" required
                                                        placeholder="Code Postal*">
                                                </div>
                                            </div>
                                              <div class="col-sm-12">
                                                  <div class="mb-3">
                                                      <input class="form-control" type="number" required
                                                          placeholder="Numéro de téléphone*">
                                                  </div>
                                              </div>
                                              <div class="col-sm-12">
                                                  <div class="mb-3">
                                                      <input class="form-control" type="text"
                                                          placeholder="Adresse E-mail*">
                                                  </div>
                                              </div>
                                              <div class="col-sm-12">
                                              <fieldset>
                                                <legend>Objet de la demande</legend>
                                                <div>
                                                    <input type="checkbox" id="coding" name="interest" class="input-checkbox" value="coding"/>
                                                    <label for="coding">J'ai besoin d'un diagnostic lié à une vente ou une location</label>
                                                </div>
                                                <div>
                                                  <input type="checkbox" id="music" class="input-checkbox" name="interest" value="music" />
                                                  <label for="music">J'ai besoin d'un diagnostic lié à des travaux ou à une rénovation</label>
                                                </div>
    
                                                <div>
                                                    <input type="checkbox" id="music" class="input-checkbox" name="interest" value="music" />
                                                    <label for="music">J'ai besoin d'un diagnostic assainissement</label>
                                                  </div>
    
                                                  <div>
                                                    <input type="checkbox" id="music" class="input-checkbox" name="interest" value="music" />
                                                    <label for="music">Autre</label>
                                                  </div>
                                              </fieldset>
                                              </div>
                                              <div class="col-sm-12">
                                                  <div class="mb-3">
                                                      <textarea class="form-control"
                                                          rows="5">
                                                          Votre message</textarea>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="">
                                            <button type="submit" class="btn  btn-lg bg-gradient" id ="submit" >
                                                Envoyer un message</button>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-5">
                              <div class="card bg-transparent shadow-none ">
                                  <div class="card-body pb-0">
                                      <h4 class="mb-4">
                                        Vous recherchez un accompagnement ?</h4>
                                      <p class="mb-4">De jour comme de nuit, beau temps, mauvais temps, à tout moment 24h/24, 7j/7, 365j/an, notre équipe est là pour vous !</p>
                                      <ul class="list-unstyled">
                                          <li class="list-item mb-4">
                                              <div class="d-flex">
                                                  <span class=" tx-20 me-3 avatar bg-01 rounded-circle my-auto" id ="spann"><i class="bi bi-geo-alt" id ="i"></i></span>
                                                  <div>
                                                      <h6 class="mb-0">Branche principale</h6>
                                                      <p class="mb-0">San Francisco, CA </p>
                                                  </div>
                                              </div>
                                          </li>
                                          <li class="list-item mb-4">
                                              <div class="d-flex">
                                                  <span class=" tx-20 me-3 avatar bg-01 rounded-circle my-auto" id ="spann"><i class="bi bi-headset" id ="i"></i></span>
                                                  <div>
                                                      <h6 class="mb-0">Télephone</h6>
                                                      <p class="mb-0">+125 254 3562 </p>
                                                  </div>
                                              </div>
                                          </li>
                                          <li class="list-item mb-4">
                                              <div class="d-flex">
                                                  <span class=" tx-20 me-3 avatar bg-01 rounded-circle my-auto" id ="spann"><i class="bi bi-envelope-plus" id ="i"></i></span>
                                                  <div>
                                                      <h6 class="mb-0">E-mail</h6>
                                                      <p class="mb-0">georgeme@abc.com </p>
                                                  </div>
                                              </div>
                                          </li>
                                          <li class="list-item">
                                              <div class="d-flex">
                                                  <span class=" tx-20 me-3 avatar bg-01 rounded-circle my-auto" id ="spann"><i class="bi bi-clock-history"id ="i"></i></span>
                                                  <div>
                                                      <h6 class="mb-0">Heures de travail</h6>
                                                      <p class="mb-0">Mon - Fri : 9am - 6pm </p>
                                                  </div>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="">
                                  <img src="./assets/images/patterns/7.png" alt="img" class="patterns-8 sub-pattern-3 z-index-0 op-1">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
