<section class="banner-section section video-banner pb-0" >
  
    <video src="./assets/images/video/video-1.mp4" class="video" loop muted autoplay></video>
    <div class="container">
        <div class="row" style="margin: 0;">
            <div class="col-md-12 text-center" style="padding: 0;">
                <p class="mb-1 content-1 h6 text-white" id="banner">A propos de nous</p>
            </div>
        </div>
    </div>
  </section>


  <section class="section">

    <div class="container">
      
        <div class="row align-items-center">
            <div class="col-lg-6 feature-client-bg">
                <h4 class="mb-5">
                    <span>Nous sommes là pour vous aider à mieux vendre, mieux acheter et mieux habiter.</span>
                </h4>
                <p class="mb-4 contentt-1">Notre objectif principal est de vous accompagner dans vos projets immobiliers. Depuis plus de 10 ans, la satisfaction de nos clients reste la priorité. Le bien-être de nos collaborateurs également. Des valeurs où l’humain est placée au centre de nos préocupations. Intègres, formés et certifiés, nos diagnostiqueurs sont le premier relai de nos valeurs.

                </p>
              <p class="contentt-1"> Pour votre sécurité, nous réalisons l’ensemble des diagnostics immobiliers obligatoires. Nos équipes s’engagent à évaluer vos biens en toute impartialité.
            </p>
            
             
            </div>
         
        </div>
    </div>


  </section>

  <section class="section img-sec">

    
  </section>


  
  <section class="section">
    <div class="container">
      
        <div class="row align-items-center">
            <div class="col-lg-6 feature-client-bg">
                <h4 class="mb-5">
                    <span>Un groupe qui ne cesse d’évoluer</span>
                </h4>
                <p class="mb-4 contentt-1">Il y a 10 ans, l’idée de Diagadom commençait dans... un cabanon au fond d'un jardin. Et oui ! Il nous a fallu franchir beaucoup d’obstacles, construire une structure stable avec des process rodés, et surtout développer une confiance avec tous nos partenaires, toutes les agences immobilières, pour que Diagadom soit aujourd'hui, une entreprise aimée et reconnue de tous dans l'univers du diagnostic immobilier.

                </p>
              <p  class="contentt-1"> Diagadom c'est près de 100 000 diagnostics réalisés, et c'est aussi une famille (ce n'est pas une tournure de phrase cliché) qui est chaque jour plus solide, plus ambitieuse. C'est aussi l'envie de transmettre cette ambition avec le Centre F, de se sentir utile et responsable.
            </p>         
            </div>
        </div>       
    </div>
  </section>



  <section class="section">
    <div class="container">
      
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img src="./assets/images/img1.png" class="img-fluid" alt="img" width="450">
            </div>
            <div class="col-lg-6 feature-client-bg">
             
                <h4 class="mb-3">
                    <span>Améliorer l'habitat de chacun

                    </span>
                </h4>
                <p  class="mb-4 contentt-1">Chez Diagadom, nos équipes sont sensibilisées à l’amélioration de l’habitat. Les enjeux environnementaux et écologiques sont au centre des objectifs du groupe. L’amélioration de l’habitat est une étape primordiale qui se traduit par de nombreuses solutions de rénovation du logement. Les diagnostics immobiliers permettent cette transition vers un habitat plus vert, moins énergivore et plus respectueux de notre environnement.
                </p>
             <p  class="contentt-1">Construisons ensemble l’habitat de demain.

             </p>
              
            </div>
           
        
        </div>


    </div>
  </section>



  <section class="section">
    <div class="container">
      
        <div class="row align-items-center">
            
            <div class="col-lg-6 feature-client-bg">
             
                <h4 class="mb-3">
                    <span>Chaque logement est unique
                    </span>
                </h4>
                <p  class="mb-4 contentt-1">Chaque logement possède une mémoire familiale ou personnelle. Connaitre le client et l’histoire de son bien est primordiale avant de réaliser les diagnostics nécessaires. Comme chaque diagnostic est différent, il est essentiel d’échanger, de prendre le temps autour d’un thé ou d’un café pour expliquer la bien fondé de notre intervention. Notre métier est technique et complexe : Diagadom s’engage à apporter des solutions en délivrant un dossier de diagnostic technique (DDT) clair et compris de tous.
                </p>
             
              
            </div>
            <div class="col-lg-6 text-center">
                <img src="./assets/images/img2.png" class="img-fluid" alt="img" width="450">
            </div>
        
        </div>


    </div>
  </section>


  <section class="section">
    <div class="container">
      
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img src="./assets/images/img3.png" class="img-fluid" alt="img" width="450">
            </div>
            <div class="col-lg-6 feature-client-bg">
             
                <h4 class="mb-3">
                    <span>Notre algorithme est l’humain

                    </span>
                </h4>
                <p  class="mb-4 contentt-1">Pour répondre aux éxigences d’un métier en constante évolution, notre équipe renouvelle régulièrement ses certifications et mentions pour intervenir en toute sécurité. Nous privilégions les compétences et l’émancipation de celles et ceux qui crééent chaque jour l’histoire de Diagadom.
                </p>
             <p  class="contentt-1">Le diagnostic immobilier est un métier d’avenir. Le groupe Diagadom s’engage tout naturellement dans la formation de nouveaux experts avec son propre centre de formation : Le Centre F.

             </p>
              
            </div>
           
        
        </div>


    </div>
  </section>
  

  <section class="section">
    <div class="container">

        <h2 style="margin-bottom: 50px;">Suivez les dernières actualités</h2>
      
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="card shadow-none border">
                    <div class="card-body text-center">
                    <img src="./assets/images/blog1.png" width="350px">
                        <h5 class="blog-h5">100% Uptime Guarantee</h5>
                        <p class="mb-0 blog-p">Découvrez tous nos conseils au travers de contenus innovants et originaux.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card shadow-none border">
                    <div class="card-body text-center">
                    <img src="./assets/images/blog2.png" width="350px">
                        <h5 class="blog-h5">Espace presse</h5>
                        <p class="mb-0 blog-p">On parle de nous ! Découvrez ici toute l’actualité du groupe Diagadom.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card shadow-none border">
                    <div class="card-body text-center">
                    <img src="./assets/images/blog3.png" width="340px">
                        <h5 class="blog-h5">Actualités</h5>
                        <p class="mb-0 blog-p">Découvrez les conseils et dernières tendances du monde de l’immobilier.</p>
                    </div>
                </div>
            </div>
           
         
          
        </div>
    </div>
  </section>


<!-- -->