.banner-section{
    height: 80vh !important;
}


.title{
    background-color: rgb(209, 68, 141);
 
}

#banner{
    background-color: rgb(209, 68, 141); padding: 0; margin: 0; width: fit-content;
    transform: translateY(420%) !important;

}

.contentt-1{
    font-size: 18px;
}

.img-sec{
    background-image: url(https://wallpapercave.com/wp/wp6056707.jpg);
     height: 75vh; 
     background-size: cover;
}

.blog-h5{
margin-top: 25px; text-align: left;
}

.blog-p{
    text-align: left; margin-top: 25px;
}