
<div class="page-style1 light-mode default-sidebar error-page1" >
  <div class="login-img" >
      <div class="page" >
          <div class="container" >
              <div class="row">
                  <div class="col mx-auto">
                    <div class="row justify-content-center mt-9">
                    <div class="col-xl-4 col-lg-6">
                      <div class="login-option">
                        <div class="text-center mb-4">
                          <div class="tab-style-1  d-inline-block">
                          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs border-0" >
                              <li ngbNavItem="Firebase">
                                  <a aria-label="true" ngbNavLink>
                                      <img src="./assets/images/svg/firebase.svg" alt="">
                                  </a>
                                  <ng-template ngbNavContent>
                                      <form (ngSubmit)="login()">

                                          <div class="text-center title-style mb-6">
                                              <h1 class="mb-2">Firebase Login</h1>
                                              <hr>
                                              <p class="text-muted">Sign In to your account</p>
                                          </div>


                                          <div class="input-group mb-3">
                                            <a aria-label="true"
                                            href="javascript:void(0)"
                                            class="input-group-text bg-white text-muted"
                                          >
                                            <i
                                              class="bi bi-envelope text-muted"
                                              aria-hidden="true"
                                            ></i>
                                          </a>
                                              <input type="email" name="email" class="input100 border-start-0 form-control ms-0" [(ngModel)]="email" placeholder="Enter email Id" required>
                                          </div>
                                          <div class="input-group mb-4">
                                            <a aria-label="true"
                                            href="javascript:void(0)"
                                            class="input-group-text bg-white text-muted"
                                          >
                                            <i
                                              class="fe fe-eye text-muted"
                                              aria-hidden="true"
                                            ></i>
                                          </a>
                                              <input type="password" name="password" class="input100 border-start-0 form-control ms-0" [(ngModel)]="password" placeholder="Enter Password" required>
                                          </div>
                                          <div class="col-12">
                                              <button type="submit" class="btn btn-lg btn-primary btn-block {{disabled}}">Login</button>
                                          </div>
                                          <div class="col-12">
                                            <a routerLink="/pages/forgot-password" class="btn btn-link box-shadow-0 px-0">Forgot password?</a>
                                        </div>
                                      </form>
                                      <div class="text-center pt-3">
                                        <p class="text-dark mb-0">
                                          Not a member?<a
                                            routerLink="/auth/register"
                                            class="text-primary ms-1"
                                            >Sign UP</a
                                          >
                                        </p>
                                      </div>
                                      <div class="form-group">
                                      <p *ngIf="errorMessage.length > 0" class="text-danger">
                                          {{errorMessage}}</p>

                                      <p *ngIf="_error.message.length > 0" class="text-danger">
                                          {{_error.message}} </p>
                                      </div>

                                      <div class=" flex-c-m text-center mt-3">
                                        <p>Or</p>
                                        <div class="d-grid mb-3">
                                          <button type="submit" class="btn btn-white border"><img src="./assets/images/png/45.png" class="me-2" alt="img" width="20">Continue with Google</button>
                                      </div>
                                      </div>
                                  </ng-template>
                                </li>
                                <li ngbNavItem="Angular">
                                  <a aria-label="true" ngbNavLink>
                                      <img src="./favicon.ico" alt="">
                                  </a>
                                  <ng-template ngbNavContent>
                                      <form
                                      [formGroup]="loginForm" (ngSubmit)="Submit()">
                                          <div class="text-center title-style mb-6">
                                              <h1 class="mb-2">Login</h1>
                                              <hr>
                                              <p class="text-muted">Sign In to your account</p>
                                          </div>

                                          <div class="input-group mb-3">
                                            <a aria-label="true"
                                            href="javascript:void(0)"
                                            class="input-group-text bg-white text-muted"
                                          >
                                            <i
                                              class="bi bi-envelope text-muted"
                                              aria-hidden="true"
                                            ></i>
                                          </a>
                                              <input type="text" class="input100 border-start-0 form-control ms-0" placeholder="Username" autocomplete formControlName="username">
                                          </div>
                                          <div class="input-group mb-4">
                                            <a aria-label="true"
                                            href="javascript:void(0)"
                                            class="input-group-text bg-white text-muted"
                                          >
                                            <i
                                              class="fe fe-eye text-muted"
                                              aria-hidden="true"
                                            ></i>
                                          </a>
                                              <input type="password" class="input100 border-start-0 form-control ms-0" placeholder="Password" autocomplete formControlName="password">
                                          </div>
                                          {{error}}
                                          <div class="row">
                                              <div class="col-12">
                                                  <button [disabled]="!loginForm.valid" type="submit" class="btn btn-lg btn-primary btn-block {{disabled}}">Login</button>
                                              </div>
                                              <div class="col-12">
                                                  <a routerLink="/pages/forget-password" class="btn btn-link box-shadow-0 px-0">Forgot password?</a>
                                              </div>
                                          </div>
                                          <div class="text-center pt-3">
                                            <p class="text-dark mb-0">
                                              Not a member?<a
                                                routerLink="/auth/register"
                                                class="text-primary ms-1"
                                                >Sign UP</a
                                              >
                                            </p>
                                          </div>

                                          <div class=" flex-c-m text-center mt-3">
                                            <p>Or</p>
                                            <div class="d-grid mb-3">
                                              <button type="submit" class="btn btn-white border"><img src="./assets/images/png/45.png" class="me-2" alt="img" width="20">Continue with Google</button>
                                          </div>
                                          </div>
                                      </form>
                                  </ng-template>
                                </li>
                          </ul>
                          </div>
                          </div>
                      </div>
                      <div class="card card-group mb-0">
                          <div class="card p-4">
                              <div class="card-body">
                                  <div [ngbNavOutlet]="nav" class="ml-4"></div>
                              </div>
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
