<section class="banner-section section video-banner pb-0">
  <img src="/assets/images/web_erp@3x.png" class="video">
  <div class="container">
    <div class="row align-items-center banner-row">
        <div class="col-lg-9 mb-7">
            <div class="mb-7">
                  <h6 class="mb-3 content-1 h5 text-white title">Engagements</h6>
              </div>
          </div>
         
      </div>
  </div>
</section>
<section class="section">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6 feature-client-bg">
              <h4 class="mb-5">
                  <span>Nous sommes disponibles.</span>
              </h4>
              <p class="mb-4 contentt-1">Nous nous engageons à être disponibles pour répondre à vos demandes urgentes de diagnostics, dès le lendemain de votre appel si nécessaire. Nos rapports complets seront mis à votre disposition entre 24 et 48h après notre intervention.

              </p>
         
          
           
          </div>
       
      </div>
  </div>


</section>



<div class="row justify-content-center">
  <div class="col-lg-10">
      <div class="reveal my-5">
          <div class="row text-center">
              <div class="col-xl-4 col-md-6 col-lg-6">
                  <div class="h-100 d-flex flex-column">
                      <div class="card-body d-flex flex-column">
                          <div class="mb-4 icon-div">
                             <i  class="fa fa-graduation-cap icon" aria-hidden="true"></i>
                             
                          </div>
                          <h5 class="mb-1 h5-sec" style="text-align: left;">Nos diagnostiqueurs sont formés et certifiés</h5>
                          <p class="mb-0 mt-auto p-sec" style="text-align: left;">Tous nos diagnostiqueurs sont certifiés pour l’exercice de leurs fonctions et mettent en permanence à jour leurs compétences afin de répondre aux exigences réglementaires.
                              Nous sommes dotée d’une Assurance de Responsabilité Civile et Professionnelle afin de pallier les conséquences engageant notre responsabilité lors de nos interventions.</p>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-6 col-lg-6">
                  <div class="h-100 d-flex flex-column">
                      <div class="card-body d-flex flex-column">
                          <div class="mb-4 icon-div">
                           <i class="fa-solid fa-diagram-project icon"></i>
                          </div>
                          <h5 class="mb-1 h5-sec">Process qualité</h5>
                          <p class="mb-0 p-sec">Le jour de l’intervention, notre expert prend le temps de connaître votre bien et son histoire avant de procéder à l’intervention. Ensuite, le diagnostiqueur réalise les différents tests et points de contrôle : c’est la partie la plus technique du diagnostic immobilier. Avant de quitter les lieux, notre expert s’engage à vous expliquer les résultats et vous apporter des solutions d’amélioration de votre logement.</p>
                      </div>
                  </div>
              </div>

              <div class="col-xl-4 col-md-6 col-lg-6">
                  <div class="h-100 d-flex flex-column">
                      <div class="card-body d-flex flex-column">
                          <div class="mb-4 icon-div">
                             <i class="fa fa-male icon" aria-hidden="true"></i>
                              
                          </div>
                          <h5 class="mb-1 h5-sec">Nous agissons au quotidien</h5>
                          <p class="mb-0 p-sec">Nous nous engageons à mettre en priorité le cadre de vie et le bien être de tous nos collaborateurs. Nous agissons quotidiennement à notre échelle afin d’avoir un impact positif sur la société et l'environnement .</p>
                      </div>
                  </div>
              </div>


              <div class="col-xl-4 col-md-6 col-lg-6" style="margin-top: 30px;">
                  <div class="h-100 d-flex flex-column">
                      <div class="card-body d-flex flex-column">
                          <div class="mb-4 icon-div">
                          <i class="fa fa-home icon" aria-hidden="true"></i>
                          
                          </div>
                          <h5 class="mb-1 h5-sec">Nous vous accompagnons</h5>
                          <p class="mb-0  p-sec">Nous vous accompagnons tout au long de votre projet immobilier en garantissant la mise à jour de tous les diagnostics jusqu’à la vente. Notre mission va au-delà de la réalisation des diagnostics immobiliers, nous sommes là pour vous rassurer et vous proposer des solutions adaptées pour pallier toutes anomalies. Notre objectif est de vous permettre de réaliser votre transaction immobilière en toute sérénité.</p>
                      </div>
                  </div>
              </div>




              <div class="col-xl-4 col-md-6 col-lg-6" style="margin-top: 30px;">
                  <div class="h-100 d-flex flex-column">
                      <div class="card-body d-flex flex-column">
                          <div class="mb-4 icon-div">
                              <i class="fa-regular fa-lightbulb icon"></i>
                          
                          </div>
                          <h5 class="mb-1 h5-sec">Nous vous aidons à mieux habiter</h5>
                          <p class="mb-0  p-sec">En tant qu’acteur significatif du diagnostic immobilier et de l'amélioration de l’habitat, notre entreprise s’engage à vous fournir des conseils en s’appuyant sur des outils de communication informatifs et innovants.</p>
                      </div>
                  </div>
              </div>
          
             
          </div>
      </div>
  </div>
</div>

<div class="heading-section mb-5">
  <div class="heading-title">Vos <span class="tx" id="span"> diagnostics immobiliers </span>avec un simple formulaire</div>
<div class="btn-div">
 
      <a routerLink="/pages/contact-us" class="btn"> Je vends &rarr;</a>


      <a routerLink="/pages/contact-us" class="btn"> Je loue &rarr;</a>
  
</div>
</div>
