<section class="banner-section section video-banner pb-0">
  
    <video src="./assets/images/video/video-1.mp4" class="video" loop muted autoplay></video>
    <div class="container">
        <div class="row align-items-center banner-row">
            <div class="col-lg-9 mb-7">
                <div class="mb-7">
                    <h6 class="mb-3 content-1 h5 text-white title">Le diagnostic amiante après-travaux (DAAPT)</h6>
                </div>
            </div>
           
        </div>
    </div>
  </section>



  


          
<section class="section">
    <div class="container">
        <div class="heading-section">
          
            <div class="heading-description">Dans le cadre de travaux de désamiantage, il est nécessaire de faire un diagnostic après travaux afin de vérifier l’absence de toute substance polluante avant d’envisager une reconstruction. Cette étape certifie l’absence d’amiante et valide le bon déroulé de l’action menée.</div>
        </div>
      
        <div class="row mb-4">
            <div class="tab-style-2 mb-4">
              <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-pills d-md-flex d-block justify-content-center">
                <li class="nav-item position-relative flex-md-grow-1 me-4 mb-2" [ngbNavItem]="1">
               
  
                  <ng-template ngbNavContent>
                    <div class="tab-content"  >
                      <div class="tab-pane active show" id="web-hosting" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <div class="accordion accordion-style-1" id="acc-style-1">
                               
                                    <ngb-accordion #acc="ngbAccordion">
                                 
                                    
                                     
                                    
                                    
                                      <ngb-panel  title="Quels sont les logements concernés par le diagnostic amiante après-travaux (DAAPT)" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template  ngbPanelContent>
                                            Le diagnostic amiante après-travaux (DAAPT) concerne toutes personnes ayant réalisé des travaux de retrait d'amiante.                                        </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Quelle est la durée de validité du diagnostic amiante après-travaux (DAAPT) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            La durée de validité du diagnostic amiante après-travaux (DAAPT) est illimitée.                                        </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Pourquoi réaliser le diagnostic amiante après-travaux (DAAPT) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            Le diagnostic amiante après-travaux est obligatoire dans le cadre d’un désamiantage et permet de certifier d’un point de vue légal qu’il n’y a plus d’amiante dans l’habitat. Il est également obligatoire dans le cas de retrait de certains éléments susceptibles de contenir de l’amiante comme le flocage, les faux plafonds, le calorifugeage, les dalles de sol, etc.                                        </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Comment est réalisé le diagnostic amiante après-travaux (DAAPT) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            Afin d’effectuer le diagnostic amiante après-travaux, le technicien est muni d’une machine aspirante à filtre d’amiante qui permet de calculer le taux de fibres d’amiante dans l’air. Au-dessous d’un certain seuil, l’habitat est certifié comme désamianté. Toutefois au-dessus de ce seuil, les travaux devront être reconduits pour finaliser le désamiantage avant de reconstruire le bâtiment.                                  </ng-template>
                                      </ngb-panel>
                                      <ngb-panel  title="Textes de loi et références" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            - Code de la santé publique : annexe 13-9
                                            <br>
                                            Liste des matériaux et produits à vérifier
                                            <br>
                                            - Code de la santé publique : articles R1334-10 à R1334-12
                                            <br>
                                            Réalisation du diagnostic

                                            <br>
                                            - Code de la santé publique : article L1334-9
                                            <br>
                                            Conséquences en cas de présence de plomb
                                           
                                        </ng-template>
                                      </ngb-panel>
                                    </ngb-accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  </ng-template>
                </li>
            
             
              
              
           
              </ul>
  
  
        <div class="panel-body tabs-menu-body">
          <div [ngbNavOutlet]="nav"></div>
        </div>
  
            </div>
  
        </div>
        <div>
            <h3>Voir aussi</h3>
            <div>
                <div class="link-div">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic amiante</a></span>
            </div>
            <br>
            <div class="link-div">
                <i  class="fa fa-angle-right" aria-hidden="true"></i>

                <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic amiante avant-travaux (DAAT)</a></span>
                </div>
                <br>
                <div>
                    <i  class="fa fa-angle-right" aria-hidden="true"></i>

                    <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic technique amiante (DTA)</a></span>
                    </div>
            </div>
        </div>
    </div>

  
  </section>