<section class="banner-section section video-banner pb-0">
  
    <img src="/assets/images/web_elec.png" class="video">
    <div class="container">
        <div class="row align-items-center banner-row">
            <div class="col-lg-9 mb-7">
                <div class="mb-7">
                    <h6 class="mb-3 content-1 h5 text-white title">Le diagnostic électricité
                    </h6>
                </div>
            </div>
           
        </div>
    </div>
  </section>      
<section class="section">
    <div class="container">
        <div class="heading-section">
          
            <div class="heading-description">Le diagnostic électricité permet d’assurer la sécurité des occupants d’une habitation. Sachant qu’en France plus de 7 millions de logements ont un système électrique défectueux et que 2 millions d’entre eux présentent un grave danger pour les occupants, le diagnostic électricité est nécessaire. Le diagnostiqueur immobilier évaluera l’état général du système électrique dans la mesure où il est visible et accessible. Il fait état de l’installation électrique intérieure et ne concerne que les parties privatives d’une copropriété. Cet examen permettra d’identifier les défauts pouvant compromettre la sécurité des habitants. Il ne s’agit pas d’une mise en conformité : cela relèvera d’un électricien.</div>
        </div>
      
        <div class="row mb-4">
            <div class="tab-style-2 mb-4">
              <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-pills d-md-flex d-block justify-content-center">
                <li class="nav-item position-relative flex-md-grow-1 me-4 mb-2" [ngbNavItem]="1">
               
  
                  <ng-template ngbNavContent>
                    <div class="tab-content"  >
                      <div class="tab-pane active show" id="web-hosting" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <div class="accordion accordion-style-1" id="acc-style-1">
                               
                                    <ngb-accordion #acc="ngbAccordion">
                                 
                                    
                                     
                                    
                                    
                                      <ngb-panel  title="Quels sont les logements concernés par le diagnostic électricité ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template  ngbPanelContent>
                                          Toutes habitations et dépendances dont l’installation a plus de 15 ans sont concernés par le diagnostic électricité.                                      </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Quelle est la durée de validité du diagnostic électricité ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                          La validité du diagnostic électricité est de 3 ans en cas de vente. En cas de location, la durée de validité du diagnostic électricité est de 6 ans.                                     </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Pourquoi réaliser le diagnostic électricité ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                          Le diagnostic électricité est obligatoire depuis le 1er Janvier 2009 pour la vente. En ce qui concerne la location, le bailleur devra fournir un diagnostic électricité pour tous baux signés à partir du 1er janvier 2018. Ce diagnostic ne concerne que les biens à usage d’habitation (le logement et ses dépendances) construits depuis plus de 15 ans.

                                          En évaluant différents critères du système, le diagnostiqueur va émettre un avis sur l’état du circuit et déterminer sa dangerosité. Les conclusions du diagnostic n’imposent aucune obligation de travaux. Le propriétaire peut choisir de vendre ou de louer le bien en l’état sous condition d’en informer le futur acheteur ou le locataire.        </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Comment est réalisé le diagnostic diagnostic de performance énergétique (DPE) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                          Afin d’évaluer le risque d’une installation intérieure électrique, le diagnostiqueur devra contrôler et tester les différents éléments qui composent le système : le tableau électrique et l’appareil général de contrôle et de protection.

                                          Durant le diagnostic, le système global devra être mis hors tension. Le technicien est chargé de vérifier l’adéquation des équipements fixes avec les caractéristiques du réseau et les conditions d’installation, au regard des exigences de sécurité.
                                          
                                          Pour émettre un diagnostic électricité, il faut examiner la présence, les caractéristiques et la conformité de 6 points de contrôle :
                                          
                                        <br> l’appareil général de commande et de protection et son accessibilité ;
                                        <br>  la terre à l’origine de l’installation électrique (dans les prises de courant et les luminaires) ;
                                        <br>le dispositif de protection contre la surintensité ;
                                        <br> l’installation adaptée aux conditions particulières des locaux ayant une baignoire ou une douche (les particularités des systèmes électriques des salles de bain);
                                        <br> les conducteurs non protégés mécaniquement ;
                                        <br> le matériel inadapté à l’usage ou présentant des risques directs.              </ng-template></ngb-panel>       
                                      <ngb-panel  title=" Textes de loi et références" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            -Code de la construction et de l'habitation : article L134-7
                                            Réalisation en cas de vente
                                            <br>
                                            - Code de la construction et de l'habitation : articles R134-10 à R134-13
                                            Caractéristiques
                                            <br>
                                            - Arrêté du 2 décembre 2011 définissant les critères de certification des compétences des personnes physiques réalisant l'état de l'installation intérieure d'électricité et les critères d'accréditation 
                                            <br>
                                            - Arrêté du 28 septembre 2017 définissant le modèle et la méthode de réalisation de l'état de l'installation intérieure d'électricité dans les immeubles à usage d'habitation 
                                            <br>
                                            - Décret n°2016-1105 du 11 août 2016 relatif à l'état de l'installation intérieure d'électricité dans les logements en location
                                            
                                        </ng-template>
                                      </ngb-panel>
                                    </ngb-accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  </ng-template>
                </li>
            
             
              
              
           
              </ul>
  
  
        <div class="panel-body tabs-menu-body">
          <div [ngbNavOutlet]="nav"></div>
        </div>
  
            </div>
  
        </div>
        <div>
            <h3>Voir aussi</h3>
            <div>
                <div class="link-div">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic gaz</a></span>
            </div>
            <br>
            <div class="link-div">
                <i  class="fa fa-angle-right" aria-hidden="true"></i>

                <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic amiante</a></span>
                </div>
                <br>
                <div>
                    <i  class="fa fa-angle-right" aria-hidden="true"></i>

                    <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic de performance énergétique (DPE)</a></span>
                    </div>
            </div>
        </div>
    </div>

  
  </section>