<section>
  <div class="banner-5 banner-section">
      <img src="./assets/images/patterns/4.png" alt="img" class="patterns-3">
      <img src="./assets/images/patterns/6.png" alt="img" class="patterns-4">
      <img src="./assets/images/patterns/9.png" alt="img" class="patterns-8 op-2">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-7">
                  <div class="mb-4">
                      <p class="mb-3 content-1 h5 text-white">Professional <span class="tx-info-dark">Business Email</span></p>
                      <p class="tx-18">Get a secure, feature-rich, and ad-free email for your business.</p>
                      <ul class="list-unstyled mb-3">
                          <li class="list-item mb-2"><i class="fe fe-chevron-right bg-white-2 rounded-circle p-1 me-2"></i>5GB Email Storage Per Account</li>
                          <li class="list-item mb-2"><i class="fe fe-chevron-right bg-white-2 rounded-circle p-1 me-2"></i>Inbuilt Virus Protection</li>
                          <li class="list-item mb-2"><i class="fe fe-chevron-right bg-white-2 rounded-circle p-1 me-2"></i>Additional Storage Available</li>
                      </ul>
                      <p class="tx-18">Start your business at just<span class="h2 text-white"> $13.8</span><span class="op-5 tx-14"> / month</span></p>
                  </div>
                  <a (click)="scroll(plans)" value="" class="btn btn-lg btn-secondary d-inline-flex align-items-center"><i class="fe fe-eye me-1"></i> View Plans</a>
              </div>
              <div class="col-lg-5">
                  <div class="banner-bg mt-5 mt-lg-0">
                      <img src="./assets/images/png/29.png" class="reseller-img img-fluid" alt="img">
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="section bg-pattern-1 overflow-hidden">
  <img src="./assets/images/patterns/23.png" alt="img" class="patterns-1 op-1">
  <img src="./assets/images/patterns/6.png" alt="img" class="patterns-4">
  <img src="./assets/images/patterns/9.png" alt="img" class="patterns-8 op-2">
  <div class="container">
      <div class="heading-section">
          <div class="heading-subtitle"><span class="tx-primary tx-16 fw-semibold">About Business</span></div>
          <div class="heading-title">What's amazing about <span class="tx-primary">Business Email</span></div>
          <div class="heading-description">Business Email Hosting Services</div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6">
              <div class="card border shadow-none mb-5 feature-card-13">
                  <div class="card-body">
                      <img src="./assets/images/icons/16.png" class="mb-3" alt="img" width="70">
                      <h5 class="mb-3 subtitle">Intuitive and Responsive Design</h5>
                      <p class="mb-0">Beautifully designed state of the art webmail platform. You can also access your email on your smartphone or tablet.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="card border shadow-none mb-5 feature-card-13">
                  <div class="card-body">
                      <img src="./assets/images/icons/22.png" class="mb-3" alt="img" width="70">
                      <h5 class="mb-3 subtitle">5GB Storage Plus Backup</h5>
                      <p class="mb-0">In addition to 5GB mail storage, your emails are backed up in our state-of-the-art infrastructure so that you never lose important mails.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="card border shadow-none mb-5 feature-card-13">
                  <div class="card-body">
                      <img src="./assets/images/icons/21.png" class="mb-3" alt="img" width="70">
                      <h5 class="mb-3 subtitle">Inbuilt Virus Protection</h5>
                      <p class="mb-0">Our advanced anti-virus technology secured your inbox and ensures that you are protected from downloading malware and viruses.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="card border shadow-none mb-5 feature-card-13">
                  <div class="card-body">
                      <img src="./assets/images/icons/20.png" class="mb-3" alt="img" width="70">
                      <h5 class="mb-3 subtitle">Get Additional Storage</h5>
                      <p class="mb-0">No more worrying about running out of storage space. You can now increase storage for individual accounts by buying additional storage.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="card border shadow-none mb-5 feature-card-13">
                  <div class="card-body">
                      <img src="./assets/images/icons/19.png" class="mb-3" alt="img" width="70">
                      <h5 class="mb-3 subtitle">100% Uptime and Security</h5>
                      <p class="mb-0">Our high-end mail storage infrastructure guarantees zero data loss and redundancy, along with 100% network uptime. </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="card border shadow-none mb-5 feature-card-13">
                  <div class="card-body">
                      <img src="./assets/images/icons/18.png" class="mb-3" alt="img" width="70">
                      <h5 class="mb-3 subtitle">Calendars and Contacts</h5>
                      <p class="mb-0">Manage contacts and keep track of all your meetings in one place with advanced productivity tools and services.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="section bg-gray-custom" #plans id="plans">
  <div class="container">
      <div class="heading-section">
          <div class="heading-subtitle"><span class="tx-primary tx-16 fw-semibold">Compare</span></div>
          <div class="heading-title">Looking for Something <span class="tx-primary">Else</span></div>
          <div class="heading-description">Email hosting gives you an email address to contact your team, partners, and customers.</div>
      </div>
      <div class="row align-items-center justify-content-between">
          <div class="col-md-6">
              <div class="feature-card-5 feature-card-5-primary position-relative">
                  <div class="card">
                      <div class="card-body">
                          <div class="row justify-content-between">
                              <div class="col-xl-4">
                                  <img src="./assets/images/png/66.png" class="mt-2 mb-5 img-fluid" alt="img" width="200">
                                  <p class="mb-1 tx-14">Starts at just</p>
                                  <h4 class="">$876.98<span class="tx-12 tx-muted op-7"> / month</span> </h4>
                              </div>
                              <div class="col-xl-7">
                                  <h4 class="mb-3">Business Email</h4>
                                  <p class="mb-3">When customers see an email using a free, generic address, like 'you@gmail.com'.</p>
                                  <ul class="list-unstyled mb-4 fw-500">
                                      <li class="list-item mb-2"><i class="fe fe-check-circle tx-primary rounded-circle p-1 me-2"></i>5GB Email Storage Per Account</li>
                                      <li class="list-item mb-2"><i class="fe fe-check-circle tx-primary rounded-circle p-1 me-2"></i>Inbuilt Virus Protection</li>
                                      <li class="list-item"><i class="fe fe-check-circle tx-primary rounded-circle p-1 me-2"></i>Additional Storage Available</li>
                                  </ul>
                                  <a routerLink="javascript:void(0);" class="btn btn-secondary">Get Started</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="feature-card-5 feature-card-5-success position-relative">
                  <div class="card">
                      <div class="card-body">
                          <div class="row justify-content-between">
                              <div class="col-xl-4">
                                  <img src="./assets/images/png/70.png" class="mt-2 mb-5 img-fluid" alt="img" width="200">
                                  <p class="mb-1 tx-14">Starts at just</p>
                                  <h4 class="">$876.98<span class="tx-12 tx-muted op-7"> / month</span> </h4>
                              </div>
                              <div class="col-xl-7">
                                  <h4 class="mb-3">Enterprise Email</h4>
                                  <p class="mb-3">When customers see an email using a free, generic address, like 'you@gmail.com'.</p>
                                  <ul class="list-unstyled mb-4 fw-500">
                                      <li class="list-item mb-2"><i class="fe fe-check-circle tx-primary rounded-circle p-1 me-2"></i>5GB Email Storage Per Account</li>
                                      <li class="list-item mb-2"><i class="fe fe-check-circle tx-primary rounded-circle p-1 me-2"></i>Inbuilt Virus Protection</li>
                                      <li class="list-item"><i class="fe fe-check-circle tx-primary rounded-circle p-1 me-2"></i>Additional Storage Available</li>
                                  </ul>
                                  <a routerLink="javascript:void(0);" class="btn btn-secondary">Get Started</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="section bg-section">
  <div class="container">
      <div class="heading-section">
          <div class="heading-subtitle"><span class="tx-primary tx-16 fw-semibold">Specification</span></div>
          <div class="heading-title">Technical <span class="tx-primary">Specification</span></div>
          <div class="heading-description">Checkout These Specification</div>
      </div>
      <div class="row align-items-center">
          <div class="col-xl-12">
              <div class="p-4 br-7">
                  <div class="row justify-content-center">
                      <div class="col-lg-4">
                          <div class="card">
                              <div class="card-body text-center">
                                  <div class="mb-3">
                                      <img src="./assets/images/svg/7.svg" width="50" height="50" alt="img">
                                  </div>
                                  <h5 class="mb-1">Robust webmail </h5>
                                  <p class="mb-0">Our webmail client was designed to be used by anyone, anywhere, anytime.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="card">
                              <div class="card-body text-center">
                                  <div class="mb-3">
                                      <img src="./assets/images/svg/11.svg" width="50" height="50" alt="img">
                                  </div>
                                  <h5 class="mb-1">Migration </h5>
                                  <p class="mb-0">Our Team will help you to migrate your Old Emails to New Email server.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row justify-content-center align-items-center">
                      <div class="col-lg-4">
                          <div class="card">
                              <div class="card-body text-center">
                                  <div class="mb-3">
                                      <img src="./assets/images/svg/6.svg" width="50" height="50" alt="img">
                                  </div>
                                  <h5 class="mb-1">Flexible storage options </h5>
                                  <p class="mb-0">All mailboxes include 5GB of storage space. Additional storage available.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 text-center mb-4 d-none d-lg-block">
                          <img src="./assets/images/png/68.png" alt="img" width="300" class="img-fluid">
                      </div>
                      <div class="col-lg-4">
                          <div class="card">
                              <div class="card-body text-center">
                                  <div class="mb-3">
                                      <img src="./assets/images/svg/10.svg" width="50" height="50" alt="img">
                                  </div>
                                  <h5 class="mb-1">Spam and virus protection</h5>
                                  <p class="mb-0">Our email filtering ensures your users and infrastructure are protected against threats like spam and viruses.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row justify-content-center">
                      <div class="col-lg-4">
                          <div class="card">
                              <div class="card-body text-center">
                                  <div class="mb-3">
                                      <img src="./assets/images/svg/9.svg" width="50" height="50" alt="img">
                                  </div>
                                  <h5 class="mb-1">Fully localized</h5>
                                  <p class="mb-0">Webmail is available in 13 languages including English, French, Spanish and German.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="card">
                              <div class="card-body text-center">
                                  <div class="mb-3">
                                      <img src="./assets/images/svg/8.svg" width="50" height="50" alt="img">
                                  </div>
                                  <h5 class="mb-1">Robust technology</h5>
                                  <p class="mb-0">Reliable, scalable and high-performing our solution is trusted by thousands of resellers worldwide.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="section blob-bg-sec banner-pd-3">
  <img src="./assets/images/patterns/18.png" alt="img" class="patterns-5 transform-rotate-180 height-inherit bottom-0 op-1">
  <img src="./assets/images/patterns/18.png" alt="img" class="patterns-7 height-inherit bottom-0">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-7">
              <div class="heading-section text-start mb-4">
                  <div class="heading-title text-white">Best Technical Support 24/7</div>
                  <div class="heading-description text-white op-8">Support and Guidance</div>
              </div>
              <p class="mb-3 op-8">Est amet sit vero sanctus labore no sed ipsum ipsum nonumy. Sit ipsum sanctus ea magna est. Aliquyam sed amet. Kasd diam rebum sit ipsum ipsum erat et kasd, sed et et erat elitr consetetur et aliquyam. Et lorem ipsum Sit ipsum sanctus ea.</p>
              <p class="tx-20 fw-500">Call Us : <a href="tel:123-789-7854" class="text-white me-1">123-789-7854</a> (Or) <a routerLink="/pages/contact-us" class="text-white ms-1">Chat Now</a></p>
              <a routerLink="/pages/contact-us" class="btn btn-lg btn-secondary">Contact Now</a>
          </div>
          <div class="col-lg-5">
              <div class="text-center mt-5 mt-lg-0">
                  <img src="./assets/images/png/57.png" alt="img" class="img-fluid">
              </div>
          </div>
      </div>
  </div>
</section>

<section class="section">
  <div class="container">
      <div class="heading-section">
          <div class="heading-subtitle"><span class="tx-primary tx-16 fw-semibold">FAQ'S</span></div>
          <div class="heading-title">We Are Here To <span class="tx-primary">Help You</span> </div>
          <div class="heading-description">Browse Through The Most Frequently Asked Questions</div>
      </div>
      <div class="accordion accordion-style-1" id="acc-style-1">
        <ngb-accordion #acc="ngbAccordion">
          <ngb-panel class="active" title="How will purchasing Business Email benefit me?" cardClass="acc-card mb-2 br-5 ">
            <ng-template ngbPanelContent>
              As opposed to free email solutions, you can give your business a more professional image with Business Email by getting email that is branded with your company's domain name (ex. sales@mybrand.com). In addition, you also benefit from our advanced email technology that gives you the least latency and industry-best uptime, scalability and reliability. An email service being served out of the cloud also means no IT, hardware, software, bandwidth or people costs. And the best part is that you can add email accounts as and when your team grows.</ng-template>
          </ngb-panel>
          <ngb-panel title=" Which Email Clients and protocols are supported?" cardClass="acc-card mb-2 br-5 border-top">
            <ng-template ngbPanelContent>
              You can send and receive emails using any desktop-based email client such as Microsoft Outlook, Outlook Express, Mozilla Thunderbird, Eudora, Entourage 2004, Windows Mail, etc. We also have a guide on how you can configure different email clients to send/receive emails. The enterprise email product supports the POP, IMAP and MAPI protocols.</ng-template>         </ngb-panel>
          <ngb-panel title="How do I use my Webmail Interface?" cardClass="acc-card mb-2 br-5 border-top">
            <ng-template ngbPanelContent>
              To access your Webmail Interface, you can use the white-labelled URL: http://webmail.yourdomainname.com. Once on the log in page, you would need to login with your email address and the corresponding password.</ng-template></ngb-panel>
              <ngb-panel title=" Which mobile phones can I access my mail from?" cardClass="acc-card mb-2 br-5 border-top">
            <ng-template ngbPanelContent>
              Your email can be accessed using any Smartphone or Tablet. Our fluidic webmail, built on HTML 5 &amp; Javascript, is compatible on all major Operating systems such as iOS, Android, Windows Mobile, Symbian and Blackberry.
</ng-template>          </ngb-panel>
          <ngb-panel title=" What is the space provided per Email Account?" cardClass="acc-card mb-2 br-5 border-top">
            <ng-template ngbPanelContent>
              Each email account comes with 5 GB space dedicated to emails.</ng-template></ngb-panel>


              <ngb-panel title="What ports do I need to use for Email Hosting?" cardClass="acc-card mb-2 br-5 border-top">
                <ng-template ngbPanelContent>
                  Usually, the port used for the Outgoing Mail Server/SMTP Service is 25. However, there might be a situation where your ISP might be blocking the use of port 25 for SMTP service. To circumvent this you can use an alternate port 587 for sending mails.</ng-template></ngb-panel>

                  <ngb-panel title="What is your SPAM policy?" cardClass="acc-card mb-2 br-5 border-top">
                    <ng-template ngbPanelContent>
                      We take a zero tolerance stance against sending of unsolicited email, bulk emailing, and spam. "Safe lists", purchased lists, and selling of lists will be treated as spam. Any user who sends out spam will have their account terminated with or without notice.      </ng-template>          </ngb-panel>
                      <ngb-panel title="Can I use Auto Responders?" cardClass="acc-card mb-2 br-5 border-top">
                        <ng-template ngbPanelContent>
                          Yes, you can. An auto-responder is a program that, when setup for your email address, sends out an automatic, pre-set reply to an email, as soon as it is received at this email address. You can find out more about setting up an auto-responder from our knowledge base.</ng-template></ngb-panel>



        </ngb-accordion>



      </div>
  </div>
</section>
