<section class="banner-section section video-banner pb-0">
  
    <img src="/assets/images/web_plomb@3x.png" class="video">
    <div class="container">
        <div class="row align-items-center banner-row">
            <div class="col-lg-9 mb-7">
                <div class="mb-7">
                    <h6 class="mb-3 content-1 h5 text-white title">Le diagnostic plomb</h6>
                </div>
            </div>
           
        </div>
    </div>
  </section>



  


          
<section class="section">
    <div class="container">
        <div class="heading-section">
          
            <div class="heading-description">Le plomb est un métal présentant une grande résistance à l’humidité, à la moisissure et aux variations thermiques. C’est un matériau peu coûteux et malléable, très utilisé dans la première moitié du XXème siècle pour ses vertus isolantes (dans la peinture notamment). Mais le plomb est toxique : ingérer ou inhaler une dose trop importante peut entraîner de graves séquelles. Les femmes enceintes et les enfants de moins de six ans représentent les populations les plus vulnérables. Le plomb est omniprésent dans notre environnement, nous en consommons tous les jours. Le corps est capable de l’assimiler sans problème en toute petite quantité. Mais une trop grande exposition est dangereuse pour la santé : une intoxication peut endommager le système nerveux ou encore entraîner un retard du système psychomoteur (le saturnisme).</div>
        </div>
      
        <div class="row mb-4">
            <div class="tab-style-2 mb-4">
              <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-pills d-md-flex d-block justify-content-center">
                <li class="nav-item position-relative flex-md-grow-1 me-4 mb-2" [ngbNavItem]="1">
               
  
                  <ng-template ngbNavContent>
                    <div class="tab-content"  >
                      <div class="tab-pane active show" id="web-hosting" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <div class="accordion accordion-style-1" id="acc-style-1">
                               
                                    <ngb-accordion #acc="ngbAccordion">
                                 
                                    
                                     
                                    
                                    
                                      <ngb-panel  title="Quels sont les logements concernés par le diagnostic plomb ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template  ngbPanelContent>
                                          Tous les logements construits avant le 1er janvier 1949 sont concernés par le diagnostic plomb.
                                        </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Quelle est la durée de validité du diagnostic plomb ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                          La validité du diagnostic plomb d’une année en cas de vente. En cas de location, la durée de validité du diagnostic plomb est de 6 ans.
                                        </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Pourquoi réaliser le diagnostic plomb ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                          Le plomb devient dangereux lorsqu’il est présent dans un produit de construction dans un état dégradé : une peinture qui s’effrite par exemple. Il est donc nécessaire de constater le risque d’exposition au plomb afin de protéger et d’informer l’occupant du bien. Un système de note a été mis en place pour évaluer le taux d’exposition : de 1 à 3. Grâce à ces notes, le diagnostiqueur évaluera le degré de dégradation du plomb. Si la quantité de plomb est inférieure à 1mg/cm2, l’exposition ne présente aucun risque pour la santé.

                                          Dans le cas d’une vente, s’il y a une présence importante de plomb (niveau 3 : dégradé), le propriétaire n’a aucune obligation de travaux. Il a le choix de vendre son bien en l’état en informant le futur acquéreur des caractéristiques du bien.
                                          
                                           
                                          
                                          Dans le cas d’un contrat de location, en cas de présence de plomb, le bailleur doit veiller à l’entretien des éléments (comme les peintures par exemple). Selon la loi, le bailleur est garant de la sécurité de ses locataires. Pour supprimer l’exposition au plomb, il faudra contenir l’élément contenant du plomb et ne pas le laisser dans un état vétuste.                                        </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Comment est réalisé le diagnostic plomb ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                          Pour repérer le plomb dans une habitation, le diagnostiqueur recherche les revêtements pouvant en contenir : la peinture, la tapisserie, les canalisations et les parties exposées à l’humidité. Le diagnostiqueur prêtera particulièrement attention à tous les éléments peints comme les murs, plafonds, portes, fenêtres, plinthes, volets, etc. Il jugera leur état de dégradation et évaluera le taux d’exposition au plomb grâce à une machine qui analyse le revêtement en projetant des rayons sur les zones à examiner (jusqu’à 1cm d’épaisseur). En présence de plomb, les rayons seront renvoyés en réponse à la source par un effet miroir. Cet appareil fonctionne avec la fluorescence X radioactive et son utilisation est soumise à l’autorisation de l’Autorité de Sûreté Nucléaire (ASN). </ng-template>
                                      </ngb-panel>
                                      <ngb-panel  title=" Textes de loi et références" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            - Code de la santé publique : articles R1334-10 à R1334-12
                                            Réalisation du diagnostic
                                            <br>
                                            - Code de la santé publique : article L1334-9
                                            Conséquences en cas de présence de plomb
                                            <br>
                                            - Arrêté du 19 août 2011 relatif au constat de risque d'exposition au plomb
                                            <br>
                                            
                                        </ng-template>
                                      </ngb-panel>
                                    </ngb-accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  </ng-template>
                </li>
            
             
              
              
           
              </ul>
  
  
        <div class="panel-body tabs-menu-body">
          <div [ngbNavOutlet]="nav"></div>
        </div>
  
            </div>
  
        </div>
        <div>
            <h3>Voir aussi</h3>
            <div>
                <div class="link-div">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic amiante</a></span>
            </div>
            <br>
            <div class="link-div">
                <i  class="fa fa-angle-right" aria-hidden="true"></i>

                <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic gaz</a></span>
                </div>
                <br>
                <div>
                    <i  class="fa fa-angle-right" aria-hidden="true"></i>

                    <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic plomb avant-travaux (DPAT)</a></span>
                    </div>
            </div>
        </div>
    </div>

  
  </section>