<section class="banner-section section video-banner pb-0">
  
    <video src="./assets/images/video/video-1.mp4" class="video" loop muted autoplay></video>
    <div class="container">
        <div class="row align-items-center banner-row">
            <div class="col-lg-9 mb-7">
                <div class="mb-7">
                    <h6 class="mb-3 content-1 h5 text-white title">Le diagnostic plomb après-travaux (DPAPT)
                    </h6>
                </div>
            </div>
           
        </div>
    </div>
  </section>



  


          
<section class="section">
    <div class="container">
        <div class="heading-section">
          
            <div class="heading-description">Dans le cadre de travaux pour une suppression de l’exposition au plomb, il est nécessaire de faire un diagnostic après travaux. Il permet de déterminer l’absence de fibres de plomb dans l’air et de confirmer que la zone est dorénavant saine.</div>
        </div>
      
        <div class="row mb-4">
            <div class="tab-style-2 mb-4">
              <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-pills d-md-flex d-block justify-content-center">
                <li class="nav-item position-relative flex-md-grow-1 me-4 mb-2" [ngbNavItem]="1">
               
  
                  <ng-template ngbNavContent>
                    <div class="tab-content"  >
                      <div class="tab-pane active show" id="web-hosting" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <div class="accordion accordion-style-1" id="acc-style-1">
                               
                                    <ngb-accordion #acc="ngbAccordion">
                                 
                                    
                                     
                                    
                                    
                                      <ngb-panel  title="Quels sont les logements concernés par le diagnostic plomb après-travaux (DPAPT)" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template  ngbPanelContent>
                                            Le diagnostic plomb après-travaux (DPAPT) concerne toutes personnes ayant réalisé des travaux de retrait de peinture au plomb.                 </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Quelle est la durée de validité du diagnostic plomb après-travaux (DPAPT) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            La durée de validité du diagnostic plomb après-travaux (DPAPT) est illimitée.                           </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Pourquoi réaliser le diagnostic plomb après-travaux (DPAPT) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            Le diagnostic plomb avant-travaux devient obligatoire si les travaux de suppression de l’exposition au plomb ont été ordonnés par le préfet. Afin de vérifier que les travaux ont bien été menés, le préfet peut exiger un diagnostic. Il sera à la charge du maître d’ouvrage. S’il reste des fibres de plomb dans l’air à l’issue du diagnostic plomb après travaux, il devra orchestrer un grand nettoyage pour enlever toutes les fibres et éliminer tous les risques sanitaires. Le diagnostic devra être effectué une seconde fois pour une nouvelle vérification.              </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Comment est réalisé le diagnostic plomb après-travaux (DPAPT) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            Afin d’effectuer le diagnostic plomb après-travaux, le diagnostiqueur ramasse la poussière avec une lingette spéciale sur 1m2 de surface au sol. Elle sera ensuite analysée par un laboratoire afin de déterminer la teneur des fibres de plomb dans l’air. Selon cette donnée, le diagnostiqueur peut juger s’il subsiste des risques pour la santé ou si la pièce est saine.Pour réaliser son expertise, le diagnostiqueur ramasse la poussière sur 1m2 de surface au sol. Elle sera ensuite analysée par un laboratoire afin de déterminer la teneur des fibres de plomb dans l’air. Selon cette donnée, le diagnostiqueur peut juger s’il subsiste des risques pour la santé ou si la pièce est saine.           </ng-template>
                                      </ngb-panel>
                                      <ngb-panel  title="Textes de loi et références" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            - Code de la santé publique : article R1334-14
                                            <br>
                                            Prévention des risques liés à l'amiante                  
                                                                    <br>
                                            - Code de la santé publique : annexe 13-9
                                            <br>
                                            Liste des matériaux et produits à vérifier
                                            <br>

                                            - Code de la santé publique : articles R1334-10 à R1334-12
                                            <br>
                                            Réalisation du diagnostic


                    
                                           
                                        </ng-template>
                                      </ngb-panel>
                                    </ngb-accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  </ng-template>
                </li>
            
             
              
              
           
              </ul>
  
  
        <div class="panel-body tabs-menu-body">
          <div [ngbNavOutlet]="nav"></div>
        </div>
  
            </div>
  
        </div>
        <div>
            <h3>Voir aussi</h3>
            <div>
                <div class="link-div">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic plomb</a></span>
            </div>
            <br>
            <div class="link-div">
                <i  class="fa fa-angle-right" aria-hidden="true"></i>

                <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic plomb avant-travaux (DPAT)</a></span>
                </div>
                <br>
             
            </div>
        </div>
    </div>

  
  </section>