<div *ngIf="cookie" id="cookieNotice" class="accept-cookies">
  <div id="closeIcon">
  </div>
  <div class="title-wrap">
      <h4>Cookies & Privacy Policy?</h4>
  </div>
  <div class="content-wrap">
      <div class="msg-wrap">
          <p class="mb-0">There are no cookies used on this site, but if there were this message could be customised
              to provide more details. Click the accept button below to see the optional callback in action...</p>
          <a routerLink="/privacypages/privacy-policy" class="tx-primary plain-link">More information</a>
          <div class="btn-wrap mt-3">
              <button class="btn btn-primary ms-2 mb-1" (click)="cookieAccepted()">Accept Cookies</button>
              <button class="btn btn-secondary ms-2 mb-1" id="customize">Customise Cookies</button>
          </div>
          <div class="mt-3 d-none" id="customizeCookie">
              <h6>Select cookies to accept</h6>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="check1" checked disabled>
                          <label class="form-check-label" for="check1">
                              Necessary
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="check2">
                          <label class="form-check-label" for="check2">
                              Site Preferences
                          </label>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="check3">
                          <label class="form-check-label" for="check3">
                              Analytics
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="check4">
                          <label class="form-check-label" for="check4">
                              Marketing
                          </label>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
