<section class="banner-section section video-banner pb-0">
  
  <img src="/assets/images/web_gaz@3x.png" class="video">    <div class="container">
        <div class="row align-items-center banner-row">
            <div class="col-lg-9 mb-7">
                <div class="mb-7">
                    <h6 class="mb-3 content-1 h5 text-white title">Le diagnostic gaz</h6>
                </div>
            </div>
           
        </div>
    </div>
  </section>



  


          
<section class="section">
    <div class="container">
        <div class="heading-section">
          
            <div class="heading-description">Le diagnostic gaz est fait pour assurer la sécurité des occupants d’un logement en évitant tout risque d’intoxication et d’explosion lié à une installation défectueuse ou mal réglée. Il ne s’agit pas d’une mise en conformité des appareils (cela relève du chauffagiste), mais d’une évaluation de l’état du système afin de mesurer la dangerosité de l’installation. Ce diagnostic est obligatoire pour toute vente de bien immobilier depuis le 1er novembre 2007. Il permet d’informer le futur acquéreur de l’état des installations et de lui garantir une certaine sérénité.</div>
        </div>
      
        <div class="row mb-4">
            <div class="tab-style-2 mb-4">
              <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-pills d-md-flex d-block justify-content-center">
                <li class="nav-item position-relative flex-md-grow-1 me-4 mb-2" [ngbNavItem]="1">
               
  
                  <ng-template ngbNavContent>
                    <div class="tab-content"  >
                      <div class="tab-pane active show" id="web-hosting" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <div class="accordion accordion-style-1" id="acc-style-1">
                               
                                    <ngb-accordion #acc="ngbAccordion">
                                 
                                    
                                     
                                    
                                    
                                      <ngb-panel  title="Quels sont les logements concernés par le diagnostic gaz ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template  ngbPanelContent>
                                          Toutes habitations et dépendances dont l’installation a plus de 15 ans sont concernés par le diagnostic gaz.
                                        </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Quelle est la durée de validité du diagnostic gaz ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                          La validité du diagnostic gaz est de 3 ans en cas de vente. En cas de location, la durée de validité du diagnostic gaz est de 6 ans.                                        </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Pourquoi réaliser le diagnostic gaz ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                          Pour la location, le bailleur devra fournir un diagnostic gaz pour tous baux signés à compter du 1er Janvier 2018. Le diagnostic gaz ne concerne que les biens à usage d’habitation dont l’installation de gaz date de plus de 15 ans. La déclaration d'achèvement des travaux (DAT) peut au besoin faire foi de l’âge de l’installation.

                                          Ce diagnostic doit être réalisé dans toutes habitations ayant une arrivée de gaz (une tuyauterie fixe), même si le gaz a été coupé ou le compteur supprimé.
                                          
                                          Le diagnostic gaz a une durée de validité de 3 ans pour la vente et de 6 ans pour la location. Le propriétaire pourra fournir un diagnostic en cours de validité à la signature du contrat. Un certificat de mise en conformité de moins de 3 ans délivré par GRDF pourra remplacer le diagnostic gaz pour constituer le DDT (Dossier de Diagnostics Techniques).
                                          
                                          Lors du diagnostic, l’expert peut remarquer certaines anomalies. Il les classera selon leur degré de dangerosité : mineure, sérieuse ou majeure. Pour les mineures et sérieuses, il n’y a aucune obligation de travaux, le diagnostiqueur émettra seulement une préconisation de réparation. Pour les anomalies majeures qui présentent un Danger Grave et Immédiat (DGI), il devra couper l’arrivée de gaz et prévenir GRDF de l’état de l’installation afin de garantir la sécurité des lieux. Cependant le propriétaire peut vendre le bien en état, il devra simplement avertir le futur acquéreur de la situation.                                    </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Comment est réalisé le diagnostic gaz ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                          Le diagnostic gaz permet de faire un état de l’installation intérieure de gaz et d’évaluer le risque pour la sécurité des habitants. Afin de procéder à cet examen, le diagnostiqueur va observer le système de chauffage et la production d’eau chaude. Il testera l’étanchéité du circuit et le débit des appareils grâce à une machine qui analyse la teneur en monoxyde de carbone généré par les équipements. Pour ce faire, il examinera : la tuyauterie fixe, le raccordement en gaz des différents appareils, la ventilation des locaux et la combustion. Le diagnostic ne prend en compte que les éléments visibles et accessibles de l’installation, il ne nécessite pas un démontage des appareils.                                   </ng-template>
                                      </ngb-panel>
                                      <ngb-panel  title=" Textes de loi et références" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            - Code de la construction et de l'habitation : article L134-6
                                            Réalisation en cas de vente
                                            <br>
                                            - Code de la construction et de l'habitation : articles R134-6 à R134-9
                                            Caractéristiques
                                            <br>
                                            - Arrêté du 15 décembre 2011 définissant les critères de certification des compétences des personnes physiques réalisant l'état de l'installation intérieure de gaz et les critères d'accréditation 
                                            <br>
                                            - Arrêté du 6 avril 2007 définissant le modèle et la méthode de réalisation de l'état de l'installation intérieure de gaz 
                                            <br>
                                            - Décret n°2016-1104 du 11 août 2016 relatif à l'état de l'installation intérieure de gaz dans les logements en location
                                            
                                        </ng-template>
                                      </ngb-panel>
                                    </ngb-accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  </ng-template>
                </li>
            
             
              
              
           
              </ul>
  
  
        <div class="panel-body tabs-menu-body">
          <div [ngbNavOutlet]="nav"></div>
        </div>
  
            </div>
  
        </div>
        <div>
            <h3>Voir aussi</h3>
            <div>
                <div class="link-div">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic plomb</a></span>
            </div>
            <br>
            <div class="link-div">
                <i  class="fa fa-angle-right" aria-hidden="true"></i>

                <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic de performance énergétique (DPE)</a></span>
                </div>
                <br>
            </div>
        </div>
    </div>

  
  </section>