   <!-- Start::footer -->
   <footer class="footer bg-primary mt-auto text-white position-relative">
    <img src="./assets/images/patterns/9.png" alt="img" class="patterns-9 z-index-0">
    <img src="./assets/images/patterns/6.png" alt="img" class="patterns-4 z-index-0">
    <img src="./assets/images/patterns/11.png" alt="img" class="patterns-3 z-index-0">
    <div class="py-5" id="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0"  >
                    <a routerLink="/home/home" class="d-inline-block mb-3"><img src="./assets/images/brand/logo-white.png" alt="img"></a>
    
                    <h4 class="text-white"> A Propos de nous </h4>
             
                    <ul class="list-unstyled mb-0">
                        <li class="list-item mb-2">
                            <a class="footer-btn btn btn-icon rounded-circle me-2" id="icon"><i class="bi bi-facebook"></i></a>
                        </li>
                        <li class="list-item mb-2">
                            <a class="footer-btn btn btn-icon rounded-circle me-2" id="icon"><i class="bi bi-instagram"></i></a>
                        </li>
                        <li class="list-item">
                            <a class="footer-btn btn btn-icon rounded-circle me-2" id="icon"><i class="bi bi-linkedin"></i></a>
                        </li>
                    </ul>
              </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <h4 class="text-white">Les diagnostics pour la vente et la location</h4>
                    <ul class="list-unstyled footer-icon">
                       <li class="list-item mb-2"><a routerLink="/pages/diagnostic-amiante" class="footer-link">Le diagnostic amiante</a></li>
                        <li class="list-item mb-2"><a routerLink="/pages/diagnostic-performance-energetique-dpe" class="footer-link">Le diagnostic de performance énergétique (DPE)</a></li>
                        <li class="list-item mb-2"><a routerLink="/pages/diagnostic-etat-risques-pollutions-erp" class="footer-link">Le diagnostic d’état des risques et pollutions (ERP)</a></li>
                        <li class="list-item mb-2"><a routerLink="/pages/diagnostic-gaz" class="footer-link">Le diagnostic gaz</a></li>
                    <br> <li class="list-item mb-2"><a routerLink="/pages/diagnostic-plomb" class="footer-link">Le diagnostic plomb</a></li>
                        <li class="list-item mb-2"><a routerLink="/pages/diagnostic-termites" class="footer-link">Le diagnostic termites</a></li>
                        <li class="list-item mb-2"><a routerLink="/pages/diagnostic-electricite" class="footer-link">Le diagnostic électricité</a></li>
                        <li class="list-item mb-2"><a routerLink="/pages/diagnostic-energetique" class="footer-link">L’audit énergétique</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h4 class="text-white">Les diagnostics spécifiques travaux ou rénovation</h4>
                    <ul class="list-unstyled footer-icon">
              <li class="list-item mb-2"><a routerLink="pages/daapt" class="footer-link">Le diagnostic amiante après-travaux (DAAPT)</a></li>
              <li class="list-item mb-2"><a routerLink="pages/daat" class="footer-link">Le diagnostic amiante avant travaux ou avant démolition (DAAT)</a></li>
              <li class="list-item mb-2"><a routerLink="pages/dps" class="footer-link">Le diagnostic de pollution des sols (DPS)</a></li>
              <li class="list-item mb-2"><a routerLink="pages/dsb" class="footer-link">Le diagnostic de sols bitumineux (DSB)</a></li>
              <li class="list-item mb-2"><a routerLink="pages/dpapt" class="footer-link">Le diagnostic plomb après travaux (DPAPT)</a></li>
              <li class="list-item mb-2"><a routerLink="pages/dpat" class="footer-link">Le diagnostic plomb avant travaux ou avant démolition (DPAT)</a></li>
              <li class="list-item mb-2"><a routerLink="pages/dta" class="footer-link">Le diagnostic technique amiante (DTA)</a></li>
              <li class="list-item mb-2"><a routerLink="pages/dtg" class="footer-link">Le diagnostic technique global (DTG)</a></li>
              <li class="list-item"><a routerLink="pages/dtat" class="footer-link">Le diagnostic termite avant travaux ou avant démolition (DTAT)</a></li>
                    </ul>
                </div>
            
            </div>

        </div>
    </div>

       <div class="py-3 border-top border-white-2" id="py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="d-md-flex align-items-center">
                        <div class="container">
                            <span class="tx-14 op-8">
                                Copyright &#169;
                                <span id="year"></span>
                                <a routerLink="/home/home" class="text-white">Hostma.</a>
                                Designed with
                                <span class="fa fa-heart tx-danger"></span>
                                by
                                <a routerLink="javascript:void(0);" class="text-white">Spruko</a>
                                All Rights Reserved
                            </span>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-5">
                    <ul class="list-unstyled d-sm-flex mb-0 justify-content-lg-end mt-3 mt-lg-0">
                        <li class="list-item"><a routerLink="/privacypages/terms-of-service" class="footer-link px-3 border-end border-white-2 op-8">Terms of Service</a></li>
                        <li class="list-item"><a routerLink="/privacypages/privacy-policy" class="footer-link px-3 border-end border-white-2 op-8">Privacy Policy</a></li>
                        <li class="list-item"><a routerLink="/privacypages/legal" class="footer-link px-3 op-8">Legal</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End::footer -->
