<section class="banner-section section video-banner pb-0">
  
  <img src="/assets/images/web_dpe_1@3x.png" class="video">
    <div class="container">
        <div class="row align-items-center banner-row">
            <div class="col-lg-9 mb-7">
                <div class="mb-7">
                    <h6 class="mb-3 content-1 h5 text-white title">Le diagnostic de performance énergétique (DPE)</h6>
                </div>
            </div>
           
        </div>
    </div>
  </section>



  


          
<section class="section">
    <div class="container">
        <div class="heading-section">
          
            <div class="heading-description">Les risques qu’on appelle naturels sont ceux liés à la géographie et au climat : inondation, avalanche, séisme, feu de forêt, crue torrentielle, cyclone, volcan, etc. Les risques miniers représentent logiquement ceux liés à l’exploitation minière : bâtiment construit au-dessus d’anciennes galeries minières, à proximité d’exploitation encore en activité… Les risques technologiques sont tous ceux relatifs à l’activité de l’homme comme la présence d’une usine chimique, d’une station essence à proximité, d’une centrale nucléaire, etc.</div>
        </div>
      
        <div class="row mb-4">
            <div class="tab-style-2 mb-4">
              <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-pills d-md-flex d-block justify-content-center">
                <li class="nav-item position-relative flex-md-grow-1 me-4 mb-2" [ngbNavItem]="1">
               
  
                  <ng-template ngbNavContent>
                    <div class="tab-content"  >
                      <div class="tab-pane active show" id="web-hosting" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <div class="accordion accordion-style-1" id="acc-style-1">
                               
                                    <ngb-accordion #acc="ngbAccordion">
                                 
                                    
                                     
                                    
                                    
                                      <ngb-panel  title="Quels sont les logements concernés par l’état des risques et pollutions (ERP) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template  ngbPanelContent>
                                          L’état des risques et pollutions (ERP) concerne tout type de bien, sans distinction.                                       </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Quelle est la durée de validité de l’état des risques et pollutions (ERP) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                          L’état des risques et pollutions (ERP) a une durée de validité de 6 mois.                                       </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Pourquoi réaliser l’état des risques et pollutions (ERP) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                          Depuis le 30 juillet 2003, le diagnostic ERP est obligatoire pour toute vente ou location de bien immobilier. Cela permet de renseigner encore un peu plus le futur acquéreur ou locataire sur les lieux qu’il s’apprête à occuper. La préfecture est chargée de faire état des risques naturels, miniers et technologiques en mettant à disposition une liste des caractéristiques des communes et des événements passés qui peuvent représenter des risques potentiels pour les bâtiments. Elle émet alors un arrêté préfectoral qui énumère les risques prévisibles en fonction de chaque commune et de leurs propriétés géographiques. 

Ces documents sont disponibles et consultables auprès des mairies des communes et des préfectures concernées par les risques.

Un diagnostic ERP est composé de quatre documents distincts : un arrêté préfectoral, une carte communale, un plan de situation et une liste des risques prévisibles auxquels le bien est exposé. L’ensemble de ces documents témoignera au futur acquéreur ou locataire des caractéristiques du bien et de son historique (s’il y a déjà eu des sinistres, si des travaux ont été faits ou sont encore à faire…).

En cas d’absence du diagnostic ERP, l’acquéreur peut demander une diminution du prix de vente ou l’annulation de la transaction. Le locataire quant à lui pourra demander auprès d’un tribunal une diminution du loyer, une annulation du contrat de bail ou des dommages et intérêts.

                                          Les directives européennes visent à sensibiliser les pays membres aux problématiques environnementales. Elles indiquent des seuils de pollution à ne pas dépasser. Le diagnostic de performance énergétique (DPE) vise à encourager la population française à prendre conscience de ces enjeux et à devenir éco-responsable afin de préserver l’environnement.</ng-template></ngb-panel>
                                      <ngb-panel title="Comment est réalisé l’état des risques et pollutions (ERP) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                          Afin d’évaluer les risques naturels, miniers et technologiques, le diagnostiqueur consulte les arrêtés préfectoraux émis par la préfecture sur les risques et l’historique « géographiques » de la zone à analyser. Il géolocalise le bien sur les cartographies des risques et conclura sur l’estimation des risques potentiels de la zone. Ce diagnostic peut être établi par le propriétaire du bien souhaitant le vendre ou le louer, mais il est fortement recommandé de faire appel à un professionnel comme le diagnostiqueur immobilier.</ng-template></ngb-panel>
                                      <ngb-panel  title=" Textes de loi et références" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            - Code de l'environnement : article L125-5
                                            Caractéristiques et sanctions en son absence
                                            <br>
                                            - Code de l'environnement : article R125-24
                                            Contenu de l'arrêté préfectoral et publication
                                            
                                        </ng-template>
                                      </ngb-panel>
                                    </ngb-accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  </ng-template>
                </li>
            
             
              
              
           
              </ul>
  
  
        <div class="panel-body tabs-menu-body">
          <div [ngbNavOutlet]="nav"></div>
        </div>
  
            </div>
  
        </div>
        <div>
          <h3>Voir aussi</h3>
          <div>
              <div class="link-div">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic de mesurage (Loi Carrez & Loi Boutin)</a></span>
          </div>
          <br>
          <div class="link-div">
              <i  class="fa fa-angle-right" aria-hidden="true"></i>

              <span class="more-spn"><a href="pages/dtg">Diagnostic immobilier : le diagnostic technique global (DTG)</a></span>
              </div>
              <br>
          </div>
      </div>
    </div>

  
  </section>