
  <section class="banner-section section video-banner pb-0">
    <video src="./assets/images/video/video-1.mp4" class="video" loop muted autoplay></video>
    <div class="container">
        <div class="row" style="margin: 0;">
            <div class="col-md-12 text-center" style="padding: 0;">
                <p class="mb-1 content-1 h6 text-white" id="banner">
                    Les diagnostics spécifiques travaux ou rénovation</p>
            </div>
        </div>
    </div>
  </section>
<section class="section">
  <div class="container ctnr-1">
      <div class="row">
              <div class="row">
                  <div class="col-md-4">
                      <div class="card">
                          <div class="position-relative">
                              <a routerLink="/pages/blog-details">
                                  <img class="card-img-top imgg" src="./assets/images/imgg1.png" alt="img">
                              </a>
                          </div>
                          <div class="card-body d-flex flex-column">
                            <span>Diagadom Expertise</span>
                              <h5>Le diagnostic technique global (DTG)</h5>
                                
                                  <div class="linkk">
                                      <a href="#" class="h6 a-link">En savoir plus   &rarr;</a>
                                  </div>
                                 
                              </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card">
                          <div class="position-relative">
                              <a routerLink="/pages/blog-details">
                                  <img class="card-img-top imgg" src="./assets/images/imgg2.png" alt="img">
                              </a>
                          </div>
                          <div class="card-body d-flex flex-column">
                            <span>Diagadom Expertise</span>

                              <h5> Le diagnostic de pollution des sols (DPS)</h5>
                              <div class="linkk">
                                <a href="#" class="h6 a-link">En savoir plus   &rarr;</a>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card">
                          <div class="position-relative">
                              <a routerLink="/pages/blog-details">
                                  <img class="card-img-top imgg" src="./assets/images/imgg3.png" alt="img">
                              </a>
                          </div>
                          <div class="card-body d-flex flex-column">
                            <span>Diagadom Expertise</span>

                              <h5>Le diagnostic de sols bitumineux (DSB)</h5>
                              <div class="linkk">
                                <a href="#" class="h6 a-link">En savoir plus   &rarr;</a>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card">
                          <div class="position-relative">
                              <a routerLink="/pages/blog-details">
                                  <img class="card-img-top imgg" src="./assets/images/imgg4.png" alt="img">
                              </a>
                          </div>
                          <div class="card-body d-flex flex-column">
                            <span>Diagadom Expertise</span>

                              <h5>Le diagnostic technique amiante (DTA)</h5>
                              <div class="linkk">
                                <a href="#" class="h6 a-link">En savoir plus   &rarr;</a>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card">
                          <div class="position-relative">
                              <a routerLink="/pages/blog-details">
                                  <img class="card-img-top imgg" src="./assets/images/imgg5.png" alt="img">
                              </a>
                          </div>
                          <div class="card-body d-flex flex-column">
                            <span>Diagadom Expertise</span>

                              <h5> Le diagnostic amiante avant-travaux (DAAT)</h5>
                              <div class="linkk">
                                <a href="#" class="h6 a-link">En savoir plus   &rarr;</a>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card">
                          <div class="position-relative">
                              <a routerLink="/pages/blog-details">
                                  <img class="card-img-top imgg" src="./assets/images/imgg6.png" alt="img">
                              </a>
                          </div>
                          <div class="card-body d-flex flex-column">
                            <span>Diagadom Expertise</span>

                              <h5> Le diagnostic amiante après-travaux (DAAPT) </h5>
                              <div class="linkk">
                                <a href="#" class="h6 a-link">En savoir plus   &rarr;</a>
                            </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card">
                          <div class="position-relative">
                              <a routerLink="/pages/blog-details" class="a-link">
                                  <img class="card-img-top imgg" src="./assets/images/imgg7.png" alt="img">
                              </a>
                          </div>
                          <div class="card-body d-flex flex-column">
                            <span>Diagadom Expertise</span>

                              <h5>Le diagnostic plomb avant-travaux (DPAT) </h5>
                              <div class="linkk">
                                <a href="#" class="h6 a-link">En savoir plus   &rarr;</a>
                            </div>
                          </div>
                      </div>
                  </div>


                  <div class="col-md-4">
                    <div class="card">
                          <div class="position-relative">
                              <a routerLink="/pages/blog-details">
                                  <img class="card-img-top imgg" src="./assets/images/imgg8.png" alt="img">
                              </a>
                          </div>
                          <div class="card-body d-flex flex-column">
                            <span>Diagadom Expertise</span>

                              <h5> Le diagnostic plomb après-travaux (DPAPT)</h5>
                              <div class="linkk">
                                <a href="#" class="h6 a-link">En savoir plus   &rarr;</a>
                            </div>
                          </div>
                      </div>
                  </div>


                  <div class="col-md-4">
                    <div class="card">
                          <div class="position-relative">
                              <a routerLink="/pages/blog-details">
                                  <img class="card-img-top imgg" src="./assets/images/imgg9.png" alt="img">
                              </a>
                          </div>
                          <div class="card-body d-flex flex-column">
                            <span>Diagadom Expertise</span>

                              <h5>Le diagnostic termites avant-travaux (DTAT)</h5>
                              <div class="linkk">
                                <a href="#" class="h6 a-link">En savoir plus   &rarr;</a>
                            </div>
                          </div>
                      </div>
                  </div>

              </div>
              <!-- COL-END -->
             
          </div>
          <!-- COL-END -->
      
      </div>
</section>

<section class="section">
    <div class="container">
      
        <div class="row align-items-center iteem">
            <h4 class="mb-3" >
                <span>Accompagner l’ensemble des professionnels dans toutes les étapes de leurs obligations réglementaires

                </span>
            </h4>
            <div class="col-lg-12">
                <img src="./assets/images/imgg10.png" class="img-fluid" alt="img" width="720">
            </div>
          
           
        
        </div>


    </div>
  </section>


  <div class="row align-items-center justify-content-center form-contact">
    <div class="col-lg-11">
                <div class="row">
                            <div class="card-body pb-0">
                                <h3 class="mb-4">Contactez-nous</h3>
                                <form class="form-horizontal" action="/home/home">
                                    <div class="row">
                                      
                                        <div class="col-sm-12">
                                            <div class="mb-3">
                                                <input  class="form-control inpt" type="text" required
                                                    placeholder="Prénom et nom">
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="mb-3">
                                                <input class="form-control inpt" type="text" required
                                                    placeholder="Société (facultatif)">
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="mb-3">
                                                <input class="form-control inpt" type="number" required
                                                    placeholder="Code postal">
                                            </div>
                                        </div>
                                      
                                        <div class="col-sm-12">
                                            <div class="mb-3">
                                                <input class="form-control inpt" type="number" required
                                                    placeholder="Numéro de télephone">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="mb-3">
                                                <input class="form-control inpt" type="email"
                                                    placeholder="Adresse e-mail">
                                            </div>
                                        </div>

                                        <fieldset>
                                            <legend>Objet de la demande</legend>
                                            <div>
                                                <input type="checkbox" id="coding" name="interest" class="input-checkbox" value="coding"/>
                                                <label for="coding">J'ai besoin d'un diagnostic lié à une vente ou une location</label>
                                            </div>
                                            <div>
                                              <input type="checkbox" id="music" class="input-checkbox" name="interest" value="music" />
                                              <label for="music">J'ai besoin d'un diagnostic lié à des travaux ou à une rénovation</label>
                                            </div>

                                            <div>
                                                <input type="checkbox" id="music" class="input-checkbox" name="interest" value="music" />
                                                <label for="music">J'ai besoin d'un diagnostic assainissement</label>
                                              </div>

                                              <div>
                                                <input type="checkbox" id="music" class="input-checkbox" name="interest" value="music" />
                                                <label for="music">Autre</label>
                                              </div>
                                          </fieldset>
                                          
                                        <div class="col-sm-12">
                                            <div class="mb-3">
                                                <textarea class="form-control inpt"
                                                    rows="5">Votre Message</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                      <button type="submit" class="btn btn-secondary btn-lg">Envoyer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                
                </div>