<section class="banner-section section video-banner pb-0">
  
    <video src="./assets/images/video/video-1.mp4" class="video" loop muted autoplay></video>
    <div class="container">
        <div class="row align-items-center banner-row">
            <div class="col-lg-9 mb-7">
                <div class="mb-7">
                    <h6 class="mb-3 content-1 h5 text-white title">Le diagnostic de sols bitumineux (DSB)</h6>
                </div>
            </div>
           
        </div>
    </div>
  </section>



  


          
<section class="section">
    <div class="container">
        <div class="heading-section">
          
            <div class="heading-description">Dans le cadre de travaux sur des sols bitumeux, les diagnostics amiante et HAP* sont nécessaires. Entre les années 1970 et 2000, l’amiante et les HAP étaient utilisés pour solidifier le bitume et éviter les fissures. Depuis 1997, l’utilisation de l’amiante est strictement interdite par la loi. Aujourd’hui les HAP ne sont plus utilisés dans le goudron car leurs vapeurs sont cancérigènes.

                Depuis que ces dispositions ont été prises, des travaux de remise aux normes ont pu être effectués et la composition des sols a pu être modifiée. Par exemple, les goudrons amiantés ont pu être enrobés afin d’empêcher la propagation de poussières. Le bitume peut donc alors contenir plusieurs couches dont certaines sont polluées. Cela représente un risque sanitaire pour ceux qui les manipulent. Pour ce faire, il est nécessaire de faire un diagnostic amiante et HAP sur enrobés avant travaux. Il permettra de protéger les employés de chantier d’une part et les riverains de proximité d’autre part.
                
                Cela représente un risque sanitaire pour ceux qui les manipulent. Pour vérifier la présence de substances nocives, il est nécessaire de faire un diagnostic amiante et HAP sur enrobés avant travaux. Il permettra de protéger les employés de chantier d’une part et les riverains de proximité d’autre part.
                
                *Les Hydrocarbures Aromatiques Polycycliques (HAP) sont des composés chimiques constitués d’atomes de carbone et d’hydrogène résultant de la fusion de plusieurs cycles aromatiques. 16 d’entre eux sont particulièrement recherchés : naphtalène, anthracène, phénanthrène, fluoranthène, benzo(a)anthracène, chrysène, benzo(a)pyrène, benzo(ghi)pérylène, benzo(k)fluoranthène, indéno(1.2.3-cd)pyrène, acénaphtylène, fluorène, pyrène, benzo(b)fluoranthène, dibenzo(ah)anthracène.</div>
        </div>
      
        <div class="row mb-4">
            <div class="tab-style-2 mb-4">
              <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-pills d-md-flex d-block justify-content-center">
                <li class="nav-item position-relative flex-md-grow-1 me-4 mb-2" [ngbNavItem]="1">
               
  
                  <ng-template ngbNavContent>
                    <div class="tab-content"  >
                      <div class="tab-pane active show" id="web-hosting" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <div class="accordion accordion-style-1" id="acc-style-1">
                               
                                    <ngb-accordion #acc="ngbAccordion">
                                 
                                    
                                     
                                    
                                    
                                      <ngb-panel  title="Quels sont les logements concernés par le diagnostic de sols bitumineux (DSB) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template  ngbPanelContent>
                                            Le diagnostic de sols bitumineux (DSB) concerne toute personne qui souhaite réaliser des travaux sur un enrobé.                           </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Quelle est la durée de validité du diagnostic de sols bitumineux (DSB) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            La durée de validité du diagnostic de sols bitumineux (DSB) est illimitée.                               </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Pourquoi réaliser le diagnostic de sols bitumineux (DSB) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            Le diagnostic amiante et HAP sur enrobés est à la charge du maître d’ouvrage, il sera dans l’obligation de partager les résultats avec la société intervenant sur le terrain afin qu’elle prenne les dispositions nécessaires et mettre en place un mode opératoire sécurisé. Si le goudron est amianté (quelle que soit la concentration), la société faisant les travaux devra protéger collectivement et individuellement ses employés et mettre en place une procédure pour empêcher toute propagation de poussière d’amiante. En ce qui concerne le HAP, le diagnostic met en évidence un seuil. A partir de 50mg/kg de HAP détecté, le personnel de chantier devra prévoir un protocole sécurisé pour procéder aux travaux.                           </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Comment est réalisé le diagnostic de sols bitumineux (DSB) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            Pour établir le diagnostic, le technicien prélève un échantillon de bitume en forant l’intégralité des couches de l’enrobé : c’est ce qu’on appelle un carottage. Il enverra ensuite le prélèvement à un laboratoire spécialisé afin de déterminer avec certitude la présence d’amiante et la quantité de HAP. Pour ce faire, le diagnostiqueur est équipé d’une machine spécialisée qui creusera jusqu’à la terre afin d’obtenir l’intégralité des couches de goudron. Seul le diagnostiqueur immobilier certifié est capable de réaliser ce diagnostic. Sa formation lui confère la tâche de déterminer la présence ou l’absence de substances polluantes. Il engage sa responsabilité pour statuer et produire son diagnostic.              </ng-template>
                                      </ngb-panel>
                                      <ngb-panel  title="Textes de loi et références" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            - Code de l'environnement : article L125-5
                                            <br>
                                            Caractéristiques et sanctions en son absence                   
                                                                    <br>
                                            - Code de l'environnement : article R125-24
                                            <br>
                                            Contenu de l'arrêté préfectoral et publication

                    
                                           
                                        </ng-template>
                                      </ngb-panel>
                                    </ngb-accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  </ng-template>
                </li>
            
             
              
              
           
              </ul>
  
  
        <div class="panel-body tabs-menu-body">
          <div [ngbNavOutlet]="nav"></div>
        </div>
  
            </div>
  
        </div>
        <div>
            <h3>Voir aussi</h3>
            <div>
                <div class="link-div">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="more-spn"><a href="#">Diagnostic immobilier : l’état des risques et pollution (ERP)</a></span>
            </div>
            <br>
            <div class="link-div">
                <i  class="fa fa-angle-right" aria-hidden="true"></i>

                <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic de pollutions des sols (DPS)</a></span>
                </div>
                <br>
                <div>
                    <i  class="fa fa-angle-right" aria-hidden="true"></i>

                    <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic amiante avant-travaux (DAAT)</a></span>
                    </div>
            </div>
        </div>
    </div>

  
  </section>