


@import "./assets/css/icons.css";
@import"./assets/css/styles.css";

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
// ... or
@import "~@ng-select/ng-select/themes/material.theme.css";


@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

.accordion-button:not(.collapsed) {
  background-color :#e7eefc
}
.accordion-style-1 .accordion-button.collapsed {
  border-radius: unset;
}

.fade:not(.show) {
  opacity: 10;
}
.faq-category-card:hover .faq-category-icon {
  fill: #fff;
}
.faq-category-card .faq-category-icon {
  fill: var(--primary-color);
}


.accept-cookies
{
  display: block !important;
}



.slide.has-sub .slide.has-sub .slide-menu .slide .side-menu__item {
  justify-content: flex-start !important;
}

.bg-client .swiper-slide .owl-carousel .owl-item img{
  width: auto;
}
.bg-client .owl-carousel .owl-item {
  padding-left: 10px;
}
.bg-client .swiper-slide .owl-carousel .owl-stage{
  width: 6000px  !important;
}

.reveal {
  transform: translateY(20px);
  opacity: 1;
  transition: all 0.3s ease;

  &.reveal-active {
      opacity: 1;
      transform: translateY(0px);
  }
}



// custom styles //
.dropdown-toggle::after {
  display: none ;
}



@media (max-width: 991px){

.categories-dropdowns ul ul {

    inset-inline-start: 0!important;
    inset-block-start: 0!important;
}

}
.swiper-backface-hidden .swiper-slide {
padding:5px
}
.testimonialSwiper .swiper-slide{
  background: transparent;
}



.custom-page .app-sidebar {
  background-color: black !important;
  }
.buynow .money-bag,  .free-img{
  margin: 0 auto;
  display: block;
  margin-top: -20px;
}
@media (min-width: 992px){
   .buynow.modal-dialog{
      max-width: 800px !important;
  }
}
.buynow .modal-content{
  background-color: transparent;
  border: 0px solid;
}
.buynow .card{
 background-color: transparent;
}

.buynow .dropdown-item {
  display: block;
  width: 100%;
  padding:0.45rem .80rem;
  clear: both;
  font-weight: 400;
  color: #576074;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 15px;
}
.buynow .dropdown-item:hover{
  background-color: #f5f4ff !important;
}
.buynow .btn{
  padding: 0.375rem 0.75rem;
}
.buynow .dropdown-menu{
  border-radius: 5px !important;
    background-color: #ffffff;
    border: 1px solid #ffffff8a;
  box-shadow: 0 0px 90px rgb(155 153 153 / 48%) !important;
}
.buynow .card-block{
  border: 1px solid rgb(231 229 245 / 11%) !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgb(255 255 255 / 6%);
    top: 0;
    bottom: 0;
    background:#6a1cbb69;
    left: 0;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    position: absolute;
    inset-inline-end: 0;
    bottom: 0;
    inset-inline-start: 0;
}

@media (max-width: 480px) {
  .buynow .card .btn {
    display: initial !important;
  }
}
.buynow.modal .btn-close:focus{
 box-shadow: none;
}
.buynow .buynow-bg {
  position        : relative;
  display         : flex;
  flex-direction  : column;
  width           : 100%;
  pointer-events  : auto;
  background-color: #000000a8;
  background-clip : padding-box;
  border          : 1px solid rgba(0, 0, 0, 0.2);
  border-radius   : 1rem;
  outline         : 0;
  background-size : cover !important;
}

.buynow .modal-dialog .image-top {
  margin-top: -10px !important;
}
.buynow .modal-dialog .card-block{
  background: #6a1cbbbf;
}
.buynow .regular-license {
  z-index: 9;
}
.border-0{
  border: 0px !important;
}
 .modal .modal-header {
  padding: 10px 20px;
}
@media (max-width: 480px){
  .buynow .modal-dialog  .modal-body{
    margin: 15px;
  }
}
.buynow.modal-dialog  .btn-close{
  position: absolute;
  float: right;
  margin-right: auto;
  right: 33px;
  top: 33px;
  padding:6px;
  background-image: none;
  border: 1px solid #ffffff47;
  border-radius: 5px;
  line-height: 1;
}
.buynow.modal-dialog  .btn-close span{
  color: #fff;
  font-size: 24px;
  padding: 9px 0px;
  line-height: .6;
  opacity: 0.5;
}
 .lh-xs {
  line-height: 0.75 !important;
  margin-top: 6px;
}
.head_menu_container{
  height: 0px !important;
  
}
.buynow .license-view{
  text-align: center;
  text-decoration: underline;
}
.buynow .license-view a{
     padding: 10px;
    border-radius: 5px;
}
.buynow .license-view a:hover{
     padding: 10px;
    background-color: rgb(255 255 255 / 12%);
    border-radius: 5px;
}
.bg-image-style {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  position: relative;
  border-radius: 0px;
}
.bg-image-style::before{
  content: "";
   background-color: #ffffffa6;
   width: 100%;
   height: 100%;
   left: 0%;
   top: 0;
   position:absolute;
}


.buynow .modal-backdrop{
  background-color: #000000b8;
}
.buynow .card-body.imag-list{
  overflow: visible;
}
.buynow .imag-list{
  position: relative;
  content: "";
  left: 0;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  overflow: hidden;
  z-index: 1;

}
.buynow .imag-list::before{
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 7px;
  position: absolute;
  background: #6a1cbb82;
  width: 100%;
  height: 100%;
  z-index: -1;
  }
  .buynow .buynow-bg {
    z-index: 0;
    border: 0px #000 solid !important;
}
.buynow  .buynow-bg::before{
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    border-radius:1rem;
    position: absolute;
    background: #000000b3 ;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .buynow .Licenses-img{
    border: 1px solid #ffffff2e;
    border-radius: 7px;
  }
  .modal.buynow .modal-body .card{
    background: transparent;

  }


  .modal-backdrop {
      z-index: 1000000000 !important;
  }
  .modal {
    z-index: 1000000000;
}
.buynow.modal-dialog .btn-close span {

  padding: 8px 0px;
  line-height: 0;
  /* opacity: 0.5; */
}
.w-55 {
  width: 50%!important;
}

.dark-mode{
  .choices__inner {
    background-color: var(--custom-white) !important;;
  }
}
.form-check.switch-select{
  .form-check-label{
      margin-inline-start: 5px;
      line-height: 2.7;
  }
}

.mt-9 {
  margin-block-start: 9rem !important;
}
@media (max-width: 991.98px) {
.app-sidebar .slide-menu.child1.mega-slide-menu-onefr.without-icon li {
    padding-inline-start: 0;
}

.app-sidebar .slide-menu.child1.mega-slide-menu-onefr.without-icon li {
    padding-inline-start: 0;
}
.slide.has-sub .slide.has-sub .side-menu__item {
  justify-content: space-between !important;
}
}

@media (min-width: 992px){
  .categories-dropdowns .category-main-dropdown:hover>ul {
       display: block !important;
  }
}
