<section class="banner-section section video-banner pb-0">
  
    <video src="./assets/images/video/video-1.mp4" class="video" loop muted autoplay></video>
    <div class="container">
        <div class="row align-items-center banner-row">
            <div class="col-lg-9 mb-7">
                <div class="mb-7">
                    <h6 class="mb-3 content-1 h5 text-white title">Le diagnostic technique amiante (DTA)</h6>
                </div>
            </div>
           
        </div>
    </div>
  </section>



  


          
<section class="section">
    <div class="container">
        <div class="heading-section">
          
            <div class="heading-description">Le diagnostic technique amiante (DTA) est un ensemble de documents qui répertorie tous les éléments amiantés présents dans un immeuble et leur état de conservation. Selon leur degré de dangerosité, le propriétaire des lieux devra effectuer des travaux de rénovation afin d’endiguer les risques sanitaires pour les occupants.

                Le diagnostic technique amiante (DTA) est à la charge du propriétaire de l’immeuble ou des copropriétaires, ils devront tenir ces documents à la disposition des occupants, des futurs acquéreurs et des entreprises de maintenance. Le diagnostic technique amiante doit absolument préciser tous les composants en amiante de l’immeuble même s’ils ont été confinés, supprimés ou désamiantés. Cela consiste à tenir un historique de ces éléments éventuellement dangereux.</div>
        </div>
      
        <div class="row mb-4">
            <div class="tab-style-2 mb-4">
              <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-pills d-md-flex d-block justify-content-center">
                <li class="nav-item position-relative flex-md-grow-1 me-4 mb-2" [ngbNavItem]="1">
               
  
                  <ng-template ngbNavContent>
                    <div class="tab-content"  >
                      <div class="tab-pane active show" id="web-hosting" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <div class="accordion accordion-style-1" id="acc-style-1">
                               
                                    <ngb-accordion #acc="ngbAccordion">
                                 
                                    
                                     
                                    
                                    
                                      <ngb-panel  title="Quels sont les logements concernés par le diagnostic technique amiante (DTA) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template  ngbPanelContent>
                                            Tous les bâtiments dont le permis de construire a été livré avant le 1er juillet 1997 sont concernés par le diagnostic technique amiante (DTA).                         </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Quelle est la durée de validité du diagnostic technique amiante (DTA) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            La durée de validité du diagnostic technique amiante (DTA) est illimitée sauf nouveau décret.                               </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Pourquoi réaliser le diagnostic technique amiante (DTA) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            Le diagnostic technique amiante (DTA) est obligatoire depuis 2005 pour tous les bâtiments dont le permis de construire est antérieur au 1er juillet 1997 : les locaux de travail, les immeubles de bureaux, les bâtiments destinés à une activité agricole ou industrielle, les locaux commerciaux, les immeubles en copropriété, etc. Seules les parties privatives d’une copropriété et les maisons individuelles ne sont pas concernées. En 2012, deux arrêtés ministériels sont venus affiner la méthode de repérage de l’amiante pour ce diagnostic. Désormais les matériaux contenant de l’amiante doivent être aussi identifiés en extérieur. Les notions de friable et non friable disparaissent par la même occasion. De fait, tous les diagnostics techniques amiante (DTA) des constructions expertisées en 2005 ont dû être mises à jour.            </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Comment est réalisé le diagnostic technique amiante (DTA) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            Pour effectuer un diagnostic technique amiante (DTA), le diagnostiqueur devra déterminer la présence d’amiante dans les parties communes grâce à un repérage non destructif conformément aux arrêtés ministériels de 2012. Il pourra effectuer des prélèvements et les faire analyser par un laboratoire compétent. Si le diagnostic aboutit à un résultat négatif, le constat est définitif. Si le technicien détecte de l’amiante, le diagnostic est valable 3 ans. Le propriétaire devra réévaluer son bien dans les trois prochaines années suivant le premier diagnostic afin de constater l’état de conservation des matériaux.

                                            Seul un diagnostiqueur certifié est habilité à constater la présence d’amiante. Il est le seul à pouvoir évaluer le degré d’exposition et à délivrer le diagnostic amiante indispensable pour les transactions immobilières. Par ce biais, il prend l’entière responsabilité de l’état du bien.
                                            
                                            Afin d’accompagner ses partenaires, Diagadom propose un audit complet du portefeuille de tous vos biens en gestion. L’objectif est d’être en accord avec les décrets en vigueur car les DTA doivent être mis à jour régulièrement.             </ng-template>
                                      </ngb-panel>
                                      <ngb-panel  title="Textes de loi et références" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            - Code de la santé publique : article R1334-14
                                            <br>
                                            Prévention des risques liés à l'amiante                  
                                                                    <br>
                                            - Code de la santé publique : annexe 13-9
                                            <br>
                                            Liste des matériaux et produits à vérifier
                                            <br>
                                            - Arrêté du 14 décembre 2010 portant agrément d'organismes habilités à procéder aux mesures de la concentration d'amiante 
                                            <br>
                                            - Arrêté du 16 juillet 2019 relative au repérage de l'amiante avant travaux

                    
                                           
                                        </ng-template>
                                      </ngb-panel>
                                    </ngb-accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  </ng-template>
                </li>
            
             
              
              
           
              </ul>
  
  
        <div class="panel-body tabs-menu-body">
          <div [ngbNavOutlet]="nav"></div>
        </div>
  
            </div>
  
        </div>
        <div>
            <h3>Voir aussi</h3>
            <div>
                <div class="link-div">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic technique global (DTG)</a></span>
            </div>
            <br>
            <div class="link-div">
                <i  class="fa fa-angle-right" aria-hidden="true"></i>

                <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic amiante avant-travaux (DAAT)</a></span>
                </div>
                <br>
                <div>
                    <i  class="fa fa-angle-right" aria-hidden="true"></i>

                    <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic de performance énergétique (DPE)</a></span>
                    </div>
            </div>
        </div>
    </div>

  
  </section>