<section class="banner-section section video-banner pb-0">
  
    <video src="./assets/images/video/video-1.mp4" class="video" loop muted autoplay></video>
    <div class="container">
        <div class="row align-items-center banner-row">
            <div class="col-lg-9 mb-7">
                <div class="mb-7">
                    <h6 class="mb-3 content-1 h5 text-white title">Le diagnostic technique global (DTG)
                    </h6>
                </div>
            </div>
           
        </div>
    </div>
  </section>



  


          
<section class="section">
    <div class="container">
        <div class="heading-section">
          
            <div class="heading-description">Le diagnostic technique global (DTG) est un ensemble de documents permettant d’évaluer l’état général d’une copropriété et d’envisager les éventuels travaux nécessaires pour sa conservation. Il permet d’informer les copropriétaires sur l’état des parties communes et sur les éventuels travaux d’amélioration. C’est une projection sur 10 ans accompagnée d’une estimation des coûts à prévoir.</div>
        </div>
      
        <div class="row mb-4">
            <div class="tab-style-2 mb-4">
              <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-pills d-md-flex d-block justify-content-center">
                <li class="nav-item position-relative flex-md-grow-1 me-4 mb-2" [ngbNavItem]="1">
               
  
                  <ng-template ngbNavContent>
                    <div class="tab-content"  >
                      <div class="tab-pane active show" id="web-hosting" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <div class="accordion accordion-style-1" id="acc-style-1">
                               
                                    <ngb-accordion #acc="ngbAccordion">
                                 
                                    
                                     
                                    
                                    
                                      <ngb-panel  title="Quels sont les logements concernés par le diagnostic technique global (DTG) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template  ngbPanelContent>
                                            La loi ALUR a déclaré la réalisation du diagnostic technique global obligatoire (DTG) obligatoire depuis le 1er Janvier 2017 dans 2 situations distinctes. La première est le cas d’une mise en copropriété. Lorsque le propriétaire initial d’un bâti décide de vendre des parties de son bien, il devra alors fournir un diagnostic technique global obligatoire (DTG) aux nouveaux acquéreurs. La seconde situation concerne les copropriétés engagées dans une procédure d’insalubrité. Dans ce cas l’administration peut exiger la réalisation d’un diagnostic technique global obligatoire (DTG), il sera alors aux frais du syndic.

                                            La loi ALUR a aussi ajouté une dernière disposition : toutes les assemblées générales des immeubles en copropriété de plus de 10 ans devront soumettre la question de la réalisation d’un diagnostic technique global obligatoire (DTG) au vote des copropriétaires. En cas de majorité simple, le syndic devra alors procéder à ce diagnostic.              </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Quelle est la durée de validité du diagnostic technique global (DTG) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            Il faut mettre à jour le diagnostic technique global après le délai de 10 ans.                           </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Pourquoi réaliser le diagnostic technique global (DTG) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            Le diagnostic technique global (DTG) doit être réalisé par une tierce personne physique ou morale et doit contenir les éléments suivants :
                                              <br>
                                            - une évaluation de l’état général des parties communes et des équipements communs ;
                                            <br>
                                            - une vérification du respect des obligations légales et réglementaires du syndic ;
                                            <br>
                                            - une analyse de toutes les améliorations possibles à apporter à la gestion de la copropriété ;
                                            <br>
                                            - un diagnostic de performance énergétique ou un audit énergétique ; 
                                            <br>
                                            - une estimation des coûts à prévoir pour tous les travaux nécessaires à la bonne conservation de la copropriété sur les 10 prochaines années ; 
                                            <br>
                                            - un échéancier prévisionnel sur 10 ans pour la réalisation d'éventuels travaux.         </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Comment est réalisé le diagnostic technique global (DTG) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            Les résultats du diagnostic technique global (DTG) devront être présentés lors de l’assemblée générale qui suit sa réalisation. A ce moment-là, les copropriétaires statueront sur l’engagement des travaux conseillés et leurs mises en œuvre. En mettant cette question à l’ordre du jour, l’assemblée générale remplit ses obligations légales. Si le diagnostic démontre qu’il n’y a aucun travaux à effectuer pour assurer la bonne conservation du bâti, le syndic est alors dispensé de la constitution du fond de travaux.       </ng-template>
                                      </ngb-panel>
                                      <ngb-panel  title="Textes de loi et références" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            - Code de la construction et de l'habitation : articles L731-1 à L731-5
                                          


                    
                                           
                                        </ng-template>
                                      </ngb-panel>
                                    </ngb-accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  </ng-template>
                </li>
            
             
              
              
           
              </ul>
  
  
        <div class="panel-body tabs-menu-body">
          <div [ngbNavOutlet]="nav"></div>
        </div>
  
            </div>
  
        </div>
        <div>
          <h3>Voir aussi</h3>
          <div>
              <div class="link-div">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="more-spn"><a href="pages/diagnostic-amiante">Diagnostic immobilier : le diagnostic technique amiante (DTA)</a></span>
          </div>
          <br>
          <div class="link-div">
              <i  class="fa fa-angle-right" aria-hidden="true"></i>

              <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic de performance energétique (DPE)</a></span>              </div>
              <br>
              <div class="link-div">
                <i  class="fa fa-angle-right" aria-hidden="true"></i>

                <span class="more-spn"><a href="#">Diagnostic immobilier : l’audit énergétique</a></span>                </div>
          </div>
      </div>
    </div>

  
  </section>