<section class="banner-section section video-banner pb-0">
  
    <video src="./assets/images/video/video-1.mp4" class="video" loop muted autoplay></video>
    <div class="container">
        <div class="row align-items-center banner-row">
            <div class="col-lg-9 mb-7">
                <div class="mb-7">
                    <h6 class="mb-3 content-1 h5 text-white title">Le diagnostic termites avant-travaux (DTAT)
                    </h6>
                </div>
            </div>
           
        </div>
    </div>
  </section>



  


          
<section class="section">
    <div class="container">
        <div class="heading-section">
          
            <div class="heading-description">Les termites sont des insectes considérés comme parasites qui se nourrissent de cellulose. Leur mode de vie entraîne la fragilisation de la structure de bois infectée. Il est alors nécessaire de faire un diagnostic termites avant travaux et avant démolition afin de constater si la zone est infectée. Si elle l’est, le maître d’ouvrage devra prendre des dispositions afin de ne pas contaminer d’autres zones.</div>
        </div>
      
        <div class="row mb-4">
            <div class="tab-style-2 mb-4">
              <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-pills d-md-flex d-block justify-content-center">
                <li class="nav-item position-relative flex-md-grow-1 me-4 mb-2" [ngbNavItem]="1">
               
  
                  <ng-template ngbNavContent>
                    <div class="tab-content"  >
                      <div class="tab-pane active show" id="web-hosting" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <div class="accordion accordion-style-1" id="acc-style-1">
                               
                                    <ngb-accordion #acc="ngbAccordion">
                                 
                                    
                                     
                                    
                                    
                                      <ngb-panel  title="Quels sont les logements concernés par le diagnostic termites avant-travaux (DTAT) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template  ngbPanelContent>
                                            Le diagnostic termites avant-travaux (DTAT) concerne toute personne qui souhaite réaliser des travaux dans une zone concernée par un arrêté préfectoral.              </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Quelle est la durée de validité du diagnostic termites avant-travaux (DTAT) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            La durée de validité du diagnostic termites avant-travaux (DTAT) est de 6 mois.                          </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Pourquoi réaliser le diagnostic termites avant-travaux (DTAT) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            Ce diagnostic ne concerne que les bâtiments d’une zone géographique infectée répertoriée par un arrêté préfectoral. Depuis 1999, les départements et les communes ont mis en place une cartographie afin de définir les zones à risques (plus d’informations sur termite.com.fr). Tous les bâtiments de ces zones devront être examinés par un diagnostiqueur immobilier avant de débuter des travaux. Un diagnostic termites pour la vente ne peut pas remplacer un diagnostic avant-travaux ou avant-démolition car les examens sont différents.       </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Comment est réalisé le diagnostic technique global (DTG) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            Les résultats du diagnostic technique global (DTG) devront être présentés lors de l’assemblée générale qui suit sa réalisation. A ce moment-là, les copropriétaires statueront sur l’engagement des travaux conseillés et leurs mises en œuvre. En mettant cette question à l’ordre du jour, l’assemblée générale remplit ses obligations légales. Si le diagnostic démontre qu’il n’y a aucun travaux à effectuer pour assurer la bonne conservation du bâti, le syndic est alors dispensé de la constitution du fond de travaux.       </ng-template>
                                      </ngb-panel>

                                      <ngb-panel title="Comment est réalisé le diagnostic termites avant-travaux (DTAT) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            Le diagnostic avant travaux et démolition passe en revue tous les éléments en bois, même ceux qui ne sont pas visibles et accessibles. Le technicien s'aide d’un poinçon pour examiner la solidité du bois et pourra effectuer des prélèvements en vue de les analyser et de déterminer avec certitude la présence de termites. Le diagnostic termites est valable pour seulement 6 mois. Le temps de propagation peut être très rapide, c’est pourquoi la validité du diagnostic est très courte. Cet examen fait état du bien à un instant T et ne prémunit pas contre une future infection : il a une dimension instantanée. Le diagnostiqueur est la seule personne habilitée à faire ce diagnostic. Grâce à ses certifications, il engage alors sa responsabilité pour statuer sur l’état d’infection de la zone de travaux.      </ng-template>
                                      </ngb-panel>

                                      <ngb-panel  title="Textes de loi et références" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            - Code de la construction et de l'habitation : articles L126-1 à L126-6
                                            <br>
                                            Articles L126-1 à L126-6
                                          


                    
                                           
                                        </ng-template>
                                      </ngb-panel>
                                    </ngb-accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  </ng-template>
                </li>
            
             
              
              
           
              </ul>
  
  
        <div class="panel-body tabs-menu-body">
          <div [ngbNavOutlet]="nav"></div>
        </div>
  
            </div>
  
        </div>
        <div>
            <h3>Voir aussi</h3>
            <div>
                <div class="link-div">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic termites</a></span>
            </div>
            <br>
            <div class="link-div">
                <i  class="fa fa-angle-right" aria-hidden="true"></i>

                <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic amiante avant-travaux (DAAT)</a></span>
                </div>
                 <br>
                <div class="link-div">
                    <i  class="fa fa-angle-right" aria-hidden="true"></i>
    
                    <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic plomb après-travaux (DPAT)</a></span>
                    </div>
               
             
            </div>
        </div>
    </div>

  
  </section>