<section class="banner-section section video-banner pb-0">
  
    <video src="./assets/images/video/video-1.mp4" class="video" loop muted autoplay></video>
    <div class="container">
        <div class="row align-items-center banner-row">
            <div class="col-lg-9 mb-7">
                <div class="mb-7">
                    <h6 class="mb-3 content-1 h5 text-white title">Le diagnostic amiante avant-travaux (DAAT)</h6>
                </div>
            </div>
           
        </div>
    </div>
  </section>



  


          
<section class="section">
    <div class="container">
        <div class="heading-section">
          
            <div class="heading-description">Une trop forte exposition à l’amiante s’avère dangereuse pour la santé. Lorsqu’il est sous forme friable, il est facile de l’inhaler. Il est alors nécessaire de faire un diagnostic amiante avant d’effectuer des travaux ou une démolition pour 3 raisons différentes :

                afin de protéger le personnel de chantier qui effectuera les travaux ou la démolition et qui sera susceptible de respirer de l’amiante sous forme de poussière dans l’exercice de leurs fonctions;
                afin de protéger les riverains de toute exposition dangereuse à l’amiante ;
                afin de protéger l’environnement d’une propagation de poussières d’amiante.
                Le diagnostic amiante avant travaux et démolition est différent d’un diagnostic amiante classique. Lors d’un diagnostic classique, le technicien va se concentrer sur tous les composants visibles et accessibles : il a une liste exhaustive d’éléments à passer en revue. Alors que pour un diagnostic avant travaux et démolition, les examens seront plus approfondis.</div>
        </div>
      
        <div class="row mb-4">
            <div class="tab-style-2 mb-4">
              <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-pills d-md-flex d-block justify-content-center">
                <li class="nav-item position-relative flex-md-grow-1 me-4 mb-2" [ngbNavItem]="1">
               
  
                  <ng-template ngbNavContent>
                    <div class="tab-content"  >
                      <div class="tab-pane active show" id="web-hosting" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <div class="accordion accordion-style-1" id="acc-style-1">
                               
                                    <ngb-accordion #acc="ngbAccordion">
                                 
                                    
                                     
                                    
                                    
                                      <ngb-panel  title="Quels sont les logements concernés par le diagnostic amiante avant-travaux (DAAT) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template  ngbPanelContent>
                                            Le diagnostic amiante avant-travaux (DAAT) concerne toute personne souhaitant réaliser des travaux ou démolition pour un bâtiment dont le permis de construire a été délivré avant le 1er juillet 1997.                                      </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Quelle est la durée de validité du diagnostic amiante avant-travaux (DAAT) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            La durée de validité du diagnostic amiante avant-travaux (DAAT) est illimitée sauf nouveau décret.                                      </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Pourquoi réaliser le diagnostic amiante avant-travaux (DAAT) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            L’arrêté du 16 juillet 2019 « relatif au repérage de l’amiante avant certaines opérations réalisées dans les immeubles bâtis » vient consolider le décret du 9 mai 2017 qui rendait l’obligation de Repérage Amiante avant Travaux (RAT). Le donneur d'ordre, le maître d'ouvrage ou le propriétaire d'immeubles par nature ou par destination, d'équipements, de matériels ou d'articles doit faire rechercher la présence d'amiante, préalablement à toute opération comportant des risques d'exposition des travailleurs à l'amiante. Cette obligation vise à permettre à l'entreprise appelée à réaliser l'opération de procéder à son évaluation des risques professionnels, et d'ajuster les protections collectives et individuelles de ses travailleurs. Les modalités de réalisation de ce repérage avant travaux de l'amiante seront précisées par arrêtés spécifiques à chaque secteur.                                     </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Comment est réalisé le diagnostic amiante avant-travaux (DAAT) ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            Le diagnostiqueur chargé de réaliser ce diagnostic doit déterminer, avec le donneur d'ordre, la nature des travaux à réaliser ainsi que les zones concernées. Le diagnostiqueur devra réaliser des prélèvements sur les différents éléments selon la liste des composants inscrite dans l’annexe 13-9 du Code de la santé publique (enduit, crépi, colle de carrelage, joints...).

                                            Ces prélèvements seront envoyés dans un laboratoire afin de déterminer la présence ou l'absence d'amiante. Pendant toute la durée du diagnostic amiante avant travaux et dans l'attente des résultats d'analyses laboratoire aucune personne ne pourra avoir accès au chantier.                          </ng-template>
                                      </ngb-panel>
                                      <ngb-panel  title="Textes de loi et références" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            - Code de la santé publique : article R1334-14
                                            <br>
                                            Prévention des risques liés à l'amiante                    
                                                                    <br>
                                            - Code de la santé publique : annexe 13-9
                                            <br>
                                            Liste des matériaux et produits à vérifier

                                            <br>
                                            - Arrêté du 14 décembre 2010 portant agrément d'organismes habilités à procéder aux mesures de la concentration d'amiante 
                                            <br>
                                            - Arrêté du 16 juillet 2019 relative au repérage de l'amiante avant travaux
                                           
                                        </ng-template>
                                      </ngb-panel>
                                    </ngb-accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  </ng-template>
                </li>
            
             
              
              
           
              </ul>
  
  
        <div class="panel-body tabs-menu-body">
          <div [ngbNavOutlet]="nav"></div>
        </div>
  
            </div>
  
        </div>
        <div>
            <h3>Voir aussi</h3>
            <div>
                <div class="link-div">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic amiante après-travaux (DAAT)</a></span>
            </div>
            <br>
            <div class="link-div">
                <i  class="fa fa-angle-right" aria-hidden="true"></i>

                <span class="more-spn"><a href="#">Diagnostic immobilier : le diagnostic technique amiante (DTA)</a></span>
                </div>
                <br>
                <div>
                    <i  class="fa fa-angle-right" aria-hidden="true"></i>

                    <span class="more-spn"><a href="#">Diagnostic immobilier : l’état des risques et pollution (ERP)</a></span>
                    </div>
            </div>
        </div>
    </div>

  
  </section>