<section class="banner-section section video-banner pb-0">
  
  <img src="/assets/images/web_amiante@3x (1).png" class="video">
  <div class="container">
        <div class="row align-items-center banner-row">
            <div class="col-lg-9 mb-7">
                <div class="mb-7">
                    <h6 class="mb-3 content-1 h5 text-white title">Le diagnostic amiante</h6>
                </div>
            </div>
           
        </div>
    </div>
  </section>



  


          
<section class="section">
    <div class="container">
        <div class="heading-section">
          
            <div class="heading-description">L’amiante est une fibre naturelle utilisée dans la construction pour sa solidité et sa résistance aux variations de températures. L’amiante existe sous forme solide et sous la forme friable. Il devient néfaste uniquement pour la santé lorsqu’il est friable, susceptible d’être respiré notamment sous forme de poussière. Cet élément est néanmoins dangereux et suite à une trop forte exposition, il peut s’avérer cancérigène.</div>
        </div>
      
        <div class="row mb-4">
            <div class="tab-style-2 mb-4">
              <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-pills d-md-flex d-block justify-content-center">
                <li class="nav-item position-relative flex-md-grow-1 me-4 mb-2" [ngbNavItem]="1">
               
  
                  <ng-template ngbNavContent>
                    <div class="tab-content"  >
                      <div class="tab-pane active show" id="web-hosting" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <div class="accordion accordion-style-1" id="acc-style-1">
                               
                                    <ngb-accordion #acc="ngbAccordion">
                                 
                                    
                                     
                                    
                                    
                                      <ngb-panel  title="Quels sont les logements concernés par le diagnostic amiante ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template  ngbPanelContent>
                                            Tous les logements des bâtiments dont le permis de construire a été livré avant le 1er juillet 1997 sont concernés par le diagnostic amiante.
                                        </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Quelle est la durée de validité du diagnostic amiante ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            La validité du diagnostic amiante est illimitée si le résultat est négatif. Si le résultat est positif, la validité du diagnostic amiante est de 3 ans renouvelable.
                                        </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Pourquoi réaliser le diagnostic amiante ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            Il est nécessaire de faire un diagnostic amiante pour constater la présence d’amiante et son état de friabilité, pour mesurer le taux d’exposition des occupants et les informer sur l’état du bien. Les conclusions du diagnostic n’imposent aucune obligation de travaux : son rôle est de renseigner et de prévenir toute dégradation des matériaux en amiante.                                        </ng-template>
                                      </ngb-panel>
                                      <ngb-panel title="Comment est réalisé le diagnostic amiante ?" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            Afin d’établir son diagnostic, le technicien prendra soin d’analyser les sols, les murs, les plafonds, la tuyauterie et les extérieurs. Il doit contrôler si l’amiante a été utilisée pour la construction des lieux et s’il en trouve, il devra contrôler son état de friabilité. En évaluant son degré de dégradation, il pourra déterminer s’il est dangereux ou non. Le diagnostiqueur observe si le matériau est dégradé et s’il dégage des fibres d’amiante susceptibles d’être respirées. Grâce à ce constat visuel et sans dégradation, il contrôlera le degré d’exposition aux fibres d’amiante. Cette méthode est spécifique pour la vente et la location d’un bien, en ce qui concerne les diagnostics avant travaux et démolition, le protocole de recherche est différent.                                        </ng-template>
                                      </ngb-panel>
                                      <ngb-panel  title=" Textes de loi et références" cardClass="acc-card mb-2 br-5 border-top">
                                        <ng-template ngbPanelContent>
                                            - Code de la santé publique : article R1334-14
                                            <br>
                                            - Prévention des risques liés à l'amiante
                                            <br>
                                            - Code de la santé publique : annexe 13-9
                                            <br>
                                            - Liste des matériaux et produits à vérifier
                                            <br>
                                            - Arrêté du 14 décembre 2010 portant agrément d'organismes habilités à procéder aux mesures de la concentration d'amiante
                                            <br>
                                            - Arrêté du 16 juillet 2019 relative au repérage de l'amiante avant travaux <a routerLink="/pages/contact-us" class="plain-link">here</a>.
                                        </ng-template>
                                      </ngb-panel>
                                    </ngb-accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  </ng-template>
                </li>
            
             
              
              
           
              </ul>
  
  
        <div class="panel-body tabs-menu-body">
          <div [ngbNavOutlet]="nav"></div>
        </div>
  
            </div>
  
        </div>
        <div>
            <h3>Voir aussi</h3>
            <div>
                <div class="link-div">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="more-spn"><a href="pages/diagnostic-performance-energetique-dpe">Le diagnostic de performance énergétique (DPE)</a></span>
            </div>
            <br>
            <div class="link-div">
                <i  class="fa fa-angle-right" aria-hidden="true"></i>

                <span class="more-spn"><a href="pages/dta">Le diagnostic technique amiante (DTA)</a></span>
                </div>
                <br>
                <div>
                    <i  class="fa fa-angle-right" aria-hidden="true"></i>

                    <span class="more-spn"><a href="pages/daat">Le diagnostic amiante avant travaux ou avant démolition (DAAT)</a></span>
                    </div>
            </div>
        </div>
    </div>

  
  </section>